<mat-card class="no-padding">
    <mat-toolbar class="small">
        <span class="title">Settings*</span>
        <span class="flex-filler"></span>
        <button mat-icon-button matTooltip="refresh" (click)="reload()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar>
    <mat-card-content>
        <mat-card-subtitle>Scheduler</mat-card-subtitle>
        <section>
            <mat-slide-toggle color="primary" [(ngModel)]="userSettings.scheduler.runReportPreviewInBackground" (change)="runReportPreviewInBackground()"
                class="item label-left">
                Disable auto preview
            </mat-slide-toggle>
            <mat-slide-toggle color="primary" [(ngModel)]="userSettings.scheduler.runReportsInBackground" (change)="runReportsInBackground()"
                class="item label-left">
                Hide status bar
            </mat-slide-toggle>
        </section>
    </mat-card-content>
    <mat-card-footer>
        <small>* All the settings are specific to this browser</small>
    </mat-card-footer>
</mat-card>