<perfect-scrollbar>
    <div class="group">
        <div class="group-header">
            <h3>Operations</h3>
            <ng-container *ngTemplateOutlet="actionButtons"></ng-container>
        </div>
        <ng-container *ngTemplateOutlet="operationDataTable"></ng-container>

    </div>
</perfect-scrollbar>

<ng-template #actionButtons>
    <span class="flex-filler"></span>
    <div style="display:flex" *ngIf="_shared.editMode">
        <!--        <button mat-button matTooltip="delete line">-->
        <!--            <mat-icon class="mat-color-danger">delete-->
        <!--            </mat-icon>-->
        <!--        </button>-->
        <button mat-button matTooltip="delete line">
            <mat-icon class="mat-color-danger" (click)="deleteLines('operationDetails')">delete</mat-icon>
        </button>
        <button mat-button matTooltip="add line">
            <mat-icon class="mat-color-info" (click)="_shared.addLine('operationDetails')">add_box</mat-icon>
        </button>
        <button mat-button matTooltip="add 10 lines">
            <mat-icon class="mat-color-info" (click)="_shared.addBulkLines(10, 'operationDetails')">control_point
            </mat-icon>
        </button>

    </div>
    <div style="display:flex" *ngIf="!_shared.editMode">
        <button mat-button matTooltip="upload operations">
            <mat-icon class="mat-color-success" (click)="uploadRoutingLines()">cloud_upload</mat-icon>
        </button>
    </div>
</ng-template>


<ng-template #operationDataTable>
    <smd-datatable [tableId]="_shared.appKey + '.operation-list'" [paginated]="true"
                   [loading]="false"
                   class="tnz-input-table" [filterEnabled]="!_shared.getOperationDetailsEditable()"
                   [sortEnabled]="!_shared.getOperationDetailsEditable()"
                   (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()"
                   [showCheckBox]="_shared.getOperationDetailsEditable()" #operation>
        <smd-datatable-column title=" " field=" " *ngIf="_shared.editMode" [colStyle]="{'width':'20px'}">
            <ng-template let-model="data" let-index="index">
                <div class="row-operations">
                    <mat-icon class="mat-color-danger" matTooltip="delete line"
                              (click)="deleteLine(index, model.activeInOut)">delete
                    </mat-icon>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Seq#" field="opSequence" [sortable]="true" [filterable]="true"
                              [colStyle]="{'width':'15px'}" [numeric]="true">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.opSequence}}</span>
                <div *ngIf="_shared.getOperationDetailsEditable('opSequence')">
                    <tnz-input type="number" [path]="_shared.getOperationDetailsPath(index,'opSequence')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData"
                               [isEdit]="_shared.getOperationDetailsEditable('opSequence')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Operation" field="opLabel" sortable="true" [filterable]="true">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.opLabel}}</span>
                <div *ngIf="_shared.getOperationDetailsEditable('opLabel')">
                    <tnz-input type="lov" [lovConfig]="operationsLov"
                               [path]="_shared.getOperationDetailsPath(index,'opLabel')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData" validators="required"
                               [isEdit]="_shared.getOperationDetailsEditable('opLabel')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="SMV" field="smv" sortable="true" [filterable]="true" [numeric]="true"
                              [colStyle]="{'width':'10px'}">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.smv}}</span>
                <div *ngIf="_shared.getOperationDetailsEditable('smv')" style="min-width: 50px">
                    <tnz-input type="number" [path]="_shared.getOperationDetailsPath(index,'smv')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData" [isEdit]="_shared.getOperationDetailsEditable('smv')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)" decimals="2">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Operation Group" field="opGroupLabel" sortable="true" [filterable]="true">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.opGroupLabel}}</span>
                <div *ngIf="_shared.getOperationDetailsEditable('opGroupLabel')">
                    <tnz-input type="lov" [lovConfig]="operationGroup"
                               [path]="_shared.getOperationDetailsPath(index,'opGroupLabel')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData"
                               [isEdit]="_shared.getOperationDetailsEditable('opGroupLabel')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)" [addNewLovOption]="true">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Require Scanning" field="requireScanning" sortable="true" [filterable]="true"
                              [colStyle]="{'width':'15px'}" [numeric]="true">
            <ng-template let-model="data" let-index="index">
                <!--                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.requireScanning}}</span>-->
                <div class="checkbox-center-align" *ngIf="!_shared.getOperationDetailsEditable('requireScanning')">
                    <mat-checkbox [ngModel]="model.requireScanning == 'Y'" disabled></mat-checkbox>
                </div>
                <div *ngIf="_shared.getOperationDetailsEditable('requireScanning')">
                    <tnz-input type="checkbox" [path]="_shared.getOperationDetailsPath(index,'requireScanning')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData"
                               [isEdit]="_shared.getOperationDetailsEditable('requireScanning')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)" class="checkbox-center-align">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Next Operation Sequence" field="nextOpSequence" sortable="true" [filterable]="true"
                              [numeric]="true" [colStyle]="{'width':'15px'}">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getOperationDetailsEditable()">{{model.nextOpSequence}}</span>
                <div *ngIf="_shared.getOperationDetailsEditable('nextOpSequence')">
                    <tnz-input type="number" [path]="_shared.getOperationDetailsPath(index,'nextOpSequence')"
                               [primaryKey]="_shared.operationDetailsPrimaryKey"
                               [sharedData]="_shared.formData"
                               [isEdit]="_shared.getOperationDetailsEditable('nextOpSequence')"
                               [loading]="_shared.operationDetailsLoading || _shared.loading"
                               (valueChangedFromUI)="valueChangedFromUI($event)">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Next Operation" field="nextOperationLabel" sortable="true" [filterable]="true"
                              [colStyle]="{'min-width': '60px'}">
            <ng-template let-model="data" let-index="index">
                <span>{{model.nextOperationLabel}}</span>

            </ng-template>
        </smd-datatable-column>
    </smd-datatable>
</ng-template>


<ng-template #upload>
    <div>Upload completed successfully</div>
    <button mat-button color="primary" (click)="postUploadAction()">Process document</button>
</ng-template>
