<mat-card class="input-card mini-popup-width">
    <mat-toolbar mat-card-image color="accent">
      <span class="title">
        <h2 class="dark"> Change Password </h2>
      </span>
      <mat-error>
     <i style="font-size: small;"> For security reasons, you will be logged out after changing your password. Please save all changes.</i>  
      </mat-error>
      <br/>
    </mat-toolbar>
    <br/>
    <mat-dialog-content>
      <form class="mdl-grid" [formGroup]="passwordResetForm">
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet">
          <mat-form-field class="container-with-select-prefix">
            <!-- <mat-icon matPrefix class="prefix">lock</mat-icon> -->
            <input matInput id="oldPassword" placeholder="Current Password" type="password" formControlName="oldPassword" required (paste)="false"
              (copy)="false">
            <mat-error *ngIf="passwordResetForm.controls.oldPassword.hasError('required')">
                Old Password is required
            </mat-error>
            <button matSuffix mat-button color="accent" style="min-width: auto;" (click)="toggleVisibility('oldPassword')">
              <mat-icon class="icon-visibility">{{ oldPasswordVisibility }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet">
          <mat-form-field class="container-with-select-prefix">
            <!-- <mat-icon matPrefix class="prefix">lock</mat-icon> -->
            <input matInput id="newPassword" placeholder="New Password" type="password" (blur)="validatePasswordByAction('validate')" formControlName="newPassword"
              required (paste)="false" (copy)="false" (keyup) = "validatePasswordByAction('confirm')">
            <mat-error *ngIf="passwordResetForm.controls.newPassword.hasError('required')">
              New Password is required
            </mat-error>
            <mat-error *ngIf="passwordResetForm.controls.newPassword.hasError('pattern')">
              Password must be atleast 6 characters long
            </mat-error>
  
            <button matSuffix mat-button color="accent" style="min-width: auto;" (click)="toggleVisibility('newPassword')">
              <mat-icon class="icon-visibility" >{{ newPasswordVisibility }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
  
        <div class="mdl-cell mdl-cell--12-col-desktop mdl-cell--8-col-tablet">
          <mat-form-field class="container-with-select-prefix">
            <!-- <mat-icon matPrefix class="prefix">lock</mat-icon> -->
            <input matInput id="confirmPassword" placeholder="Confirm Password" type="password" (blur)="checkConfirmPassword()" formControlName="confirmPassword"
              required (paste)="false" (copy)="false">
            <mat-error *ngIf="passwordResetForm.controls.confirmPassword.hasError('unique')">
              Passwords do not match
            </mat-error>
            <button matSuffix mat-button color="accent" style="min-width: auto;" (click)="toggleVisibility('confirmPassword')">
              <mat-icon class="icon-visibility">{{ confirmPasswordVisibility }}</mat-icon>
            </button>
          </mat-form-field>
          <app-password-checker [password]="newPassword" (validity)="getPasswordValidity($event)"></app-password-checker>
        </div>
      </form>
    </mat-dialog-content>
  
    <mat-dialog-actions>
      <span class="horizontal-filler"></span>
      <button mat-raised-button color="accent" (click)="submitReset()" [disabled]="!passwordResetForm.valid"> Change Password</button>
      <button mat-button mat-dialog-close color="accent">Cancel</button>
<br/>
     
     </mat-dialog-actions>
  
 
  
  </mat-card>