<div class="app-content-header">
	<div class="app-title" routerLink="./list">
		<span class="primary">Operations</span>
	</div>
	<div class="app-menus">
		<div class="group" *ngIf="!_shared.editMode">
			<a (click)="newOperation()">Add</a>
			<a (click)="editOperation()">Edit</a>
		</div>
		
		<div class="group" *ngIf="_shared.editMode">
			<a (click)="newOperation()">Add</a>
			<a (click)="save()">Save</a>
			<a (click)="cancelEdit()">Cancel</a>
		</div>
	</div>
</div>
<div class="app-content-container">
	<div class="app-content-wrapper">
		<router-outlet></router-outlet>
	</div>
</div>