@import '~@angular/material/theming';
@import './app/shared/component/smd/smd-datatable/datatable-theme';
@import "./app/shared/component/smd/smd-paginator/paginator-theme";
@import "./app/shared/component/smd/smd-bottom-nav/smd-bottom-nav-theme";
@import "./app/shared/component/smd/smd-error-messages/smd-error-message-theme";
@import "./peoples-theme";
@include mat-core();
$peoplez-primary: mat-palette($mat-light-blue);
$peoplez-accent : mat-palette($mat-blue-grey, 400, 300, A400);
$peoplez-warn : mat-palette($mat-deep-orange);
$peoplez-theme: mat-light-theme($peoplez-primary, $peoplez-accent, $peoplez-warn);
@include angular-material-theme($peoplez-theme);
@include smd-datatable-theme($peoplez-theme);
@include smd-bottom-nav-theme($peoplez-theme);
@include smd-paginator-theme($peoplez-theme);
@include smd-bottom-nav-theme($peoplez-theme);
@include smd-error-message-theme($peoplez-theme);
@include peoples-theme($peoplez-theme);