<smd-datatable [tableId]="_shared.appKey + '.userRoles'" [paginated]="!_shared.getUserRolesEditable()"
	[loading]="_shared.userRolesLoading" class="tnz-input-table" 
	[sortEnabled]="!_shared.getUserRolesEditable()" (onRowSelected)="onRowSelected()"
	(onAllRowsSelected)="onRowSelected()" [showCheckBox]="false" [inputPath]="_shared.userRolesPath">

	<smd-datatable-column title=" " field=" " *ngIf="_shared.getUserRolesEditable()">
		<ng-template let-model="data" let-index="index">
			<div class="row-operations">
				<mat-icon *ngIf="model[_shared.userRolesPrimaryKey] == 0" class="mat-color-danger"
					matTooltip="Delete Line" (click)="deleteLine(index,model)">delete</mat-icon>
				<mat-icon *ngIf="model[_shared.userRolesPrimaryKey] != 0" style="color:gray"
					matTooltip="Delete disabled" >delete</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="#" field=" " [sortable]="false" [filterable]="false"
		[colStyle]="{'width':'15px','text-align':'center'}">
		<ng-template let-index="index">
			{{index+1}}
		</ng-template>
	</smd-datatable-column>

	<smd-datatable-column title="Short Code" field="roleShortCode" sortable="true" [filterable]="true">
		<ng-template let-model="data">
			<!-- {{model.roleShortCode}} -->
			<a class="internal-link" [routerLink]="'/roles/'+ model.roleId"  target="_blank" title="View Role">   {{model.roleShortCode}}</a>

		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Name" field="roleName" sortable="true" [filterable]="true" stretch="true">
		<ng-template let-model="data">
			{{model.roleName}}
		</ng-template>
	</smd-datatable-column>

	<smd-datatable-column title="Start Date" field="roleStartDate" sortField="roleStartDate" sortable="true"
		[filterable]="true" [colStyle]="{'min-width':'95px'}">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getUserRolesEditable('roleStartDate')">{{model.roleStartDate}}</span>
			<div *ngIf="_shared.getUserRolesEditable('roleStartDate')">
				<tnz-input type="date" [path]="_shared.getUserRolesPath(index,'roleStartDate')"
					[primaryKey]="_shared.userRolesPrimaryKey" [sharedData]="_shared.formData"
					[isEdit]="getIfEditable(index,'roleStartDate')"
					[loading]="_shared.userRolesLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="End Date" field="roleEndDate" sortField="roleEndDate" sortable="true"
		[filterable]="true" [colStyle]="{'min-width':'95px'}">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getUserRolesEditable('roleEndDate')">{{model.roleEndDate}}</span>
			<div *ngIf="_shared.getUserRolesEditable('roleEndDate')">
				<tnz-input type="date" [path]="_shared.getUserRolesPath(index,'roleEndDate')"
					[primaryKey]="_shared.userRolesPrimaryKey" [sharedData]="_shared.formData"
					[isEdit]="getIfEditable(index,'roleEndDate')"
					[loading]="_shared.userRolesLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true">
		<ng-template let-model="data">
			<div class="checkbox-center-align">
				<mat-icon *ngIf="model.active=='Y'" class="active-icon"
					matTooltip="Active">check_circle</mat-icon>
				<mat-icon *ngIf="model.active!='Y'" class="inactive-icon"
					matTooltip="Inactive">cancel</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>

	<smd-datatable-column title="Role Status" field="roleStatus" sortable="true" [filterable]="true">
		<ng-template let-model="data">
			<div class="checkbox-center-align">
				<mat-icon *ngIf="model.roleStatus=='Y'" class="active-icon"
					matTooltip="Active Role">check_circle</mat-icon>
				<mat-icon *ngIf="model.roleStatus!='Y'" class="inactive-icon"
					matTooltip="Inactive Role">cancel</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>
</smd-datatable>