<div class="group" style="box-shadow: unset;">
   
    <ul id=address>
        <li>
            <label>Location</label>
            <div class="val">
                <tnz-input type="lov" [path]="_shared.getHeaderAttrPath('location')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" 
                validators="required"  (valueChanged)="valueChangedFromUI($event)" [isEdit]="getIfEditable('location')" [lovConfig]="locationLov" displayKey="label"
                [loading]="_shared.headerLoading || _shared.loading"> 
              </tnz-input>
              <div *ngIf="_shared.editMode" >
              <button [style]="{'line-height':'18px'}" mat-button matTooltip="Add location">
                <mat-icon class="mat-color-info" (click)="addLocation()" >add_box
                </mat-icon>
            </button>
        </div>
            </div>
        </li>
 
        <li>
            <label>City</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('city')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Email</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('email')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Address Line 1</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('addressLine1')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>State</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('state')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Website</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('websiteUrl')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>    
        <li>
            <label>Address Line 2</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('addressLine2')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Country</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('countryName')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Telephone</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('telephoneNumber')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <li>
            <label>Address Line 3</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('addressLine3')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li> 
        <li>
            <label>Zip Code</label>
            <div class="val">
                <tnz-input class="text-upper" type="text" [path]="_shared.getAddressAttrPath('postalCode')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                   [isEdit]="false" 
                  [loading]="_shared.addressLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>


        
     <!-- <li>
            <label>Company</label>
            <div class="val">
                
                <tnz-input type="lov" [path]="_shared.getHeaderAttrPath('company')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" 
                  validators="required"  [isEdit]="getIfEditable('company')" [lovConfig]="companyLov" displayKey="label"
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input> 

            </div>
        </li>   
        <li>
            <label>Active</label>
            <div class="val">
                
                <tnz-input class="text-upper" type="checkbox" [path]="_shared.getHeaderAttrPath('active')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                  validators="required"  (valueChanged)="valueChangedFromUI($event)" [isEdit]="getIfEditable('active')" 
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>  -->
        
    </ul> 
</div>
<!-- <div class="group">
    <h4>Description</h4>
    <ul>
        <li>
            <div class="val">
                <tnz-input type="textarea" [path]="_shared.getHeaderAttrPath('description')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                    [isEdit]="getIfEditable('description')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
    </ul>
</div> -->