.title-bar {
    display: flex;
    align-items: center;
    margin: -12px -12px 20px;
    .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    img {
        height: 64px;
        margin-right: 8px;
    }
}
.input-card {
    box-shadow: none;
}

.mat-dialog-actions {
    padding: 0;
    justify-content: center;
}