<!-- <div>
	<span *ngIf="title && !_hasRowsSelected()">{{title}}</span>
	<ng-content select="smd-datatable-action-button"></ng-content>
	<span *ngIf="_hasRowsSelected()"> {{_selectedRowsLength()}}
		{{_selectedRowsLength() == 1 ? 'item selected' : 'items selected'}} 
	</span>
</div>
<span>
	<div>
		<<mat-form-field *ngIf="enableFilter && _selectedRowsLength() == 0">
		 <input matInput [placeholder]="filterLabel" [(ngModel)]="filterValue"
			(keyup)="_onFilter($event)"> </mat-form-field>
		<ng-content select="smd-datatable-contextual-button"></ng-content>
	</div>
</span> -->