<div>
    <perfect-scrollbar>
        <smd-datatable [dataUrl]="_shared.apiBase" dataHeader="routing" (onRowSelected)="rowSelected($event)" [primaryListing]="false"
            (dataChange)="_onDataChange($event)" [selectedPage]="_shared.selectedPage" (pageChange)="pageChange($event)" tableId="mfgRoutingList">
            <smd-datatable-column title="Routing#" field="documentNo" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <!-- <smd-datatable-column title="Cut Facility" field="cutFacility" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.cutFacility?.shortCode}}
                </ng-template>
            </smd-datatable-column> -->
            <smd-datatable-column title="Style" field="productNum" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Facility" field="facilityShortCode" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Name" field="routingName" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Status" field="docStatusTR" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    <doc-status [status]="model.docStatus" [insideTable]="true"></doc-status>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="SMV" field="smv" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Description" field="description" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Created By" field="createdByName" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Created Date" field="creationDate" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Updated By" field="lastUpdateByName" sortable="true" [filterable]="true">
            </smd-datatable-column>
            <smd-datatable-column title="Updated Date" field="lastUpdateDate" sortable="true" [filterable]="true">
            </smd-datatable-column>
        </smd-datatable>
    </perfect-scrollbar>
</div>