.header {
    padding-right: 8px;
    font-weight: 600;
    font-size: 15px;
    button {
        mat-icon {
            color: #666;
        }
    }
}

.is-model {
    .header {
        padding-right: 32px;
    }
}

.older-comments {
    font-size: 11px;
    width: 100%;
    a {
        width: 100%;
        font-size: 11px;
    }
}

mat-expansion-panel {
    box-shadow: none !important;
    border: 0px;
    border-top: 1px solid #e0e0e0;
    mat-expansion-panel-header {
        height: 40px !important;
        mat-panel-title {
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            .img-style {
                max-width: 18px;
                max-height: 18px;
            }
            .person-name {
                padding-left: 10px;
                color: #0a3041;
                font-weight: 500;
            }
            .info,
            .message {
                padding-left: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .info {
                color: #1a17177d;
                small {
                    font-size: 11px;
                }
            }
            .message {
                color: #1a17177d;
            }
        }
        .actions {
            display: flex;
            margin-right: 12px;
            button {
                display: none;
                width: 28px;
                height: 28px;
                line-height: 28px;
                mat-icon {
                    font-size: 19px;
                    color: #666;
                }
            }
        }
    }
    &:hover {
        mat-expansion-panel-header {
            .actions>button {
                display: initial;
            }
        }
    }
}

.comment-edit {
    textarea {
        display: block;
        border: 1px solid #d6d6d6;
        border-radius: 3px;
        padding: 4px;
        box-sizing: border-box
    }
    .actions {
        display: flex;
        justify-content: flex-end;
        button {
            width: 28px;
            height: 28px;
            line-height: 28px;
            mat-icon {
                font-size: 21px;
                &.green-color {
                    color: green;
                }
                &.red-color {
                    color: red;
                }
            }
        }
    }
}

.add-comment {
    margin-top: 16px;
    padding-bottom: 16px;
    .message {
        display: flex;
        padding: 8px;
        img {
            height: 40px;
            width: 40px;
            border: 1px solid #ffffff;
            border-radius: 3px;
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        }
        textarea {
            margin-left: 12px;
            padding: 5px;
            height: 32px;
            min-height: 32px;
            background: #fff;
            border: 1px solid #e6e6e6;
            border-radius: 3px;
        }
    }
    .actions {
        padding-left: 62px;
        button {
            font-size: 14px;
            height: 28px;
            line-height: 28px;
        }
    }
}