.application-taskflow {
    display: flex;
    overflow: hidden;
    margin-top:2px;
    smd-datatable {
        margin: 0 !important;
        &:first-child {
            border-right: 0 !important;
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            box-shadow: 0 0 7px  rgba(0, 0, 0, .21);
            z-index: 9;
            &::ng-deep.smd-table-container .smd-data-table tbody tr {
                font-weight: 500;
                color: #5f5174;
               // background-color: #9e9e9e42;
                font-size: 14px;
            } 
            &::ng-deep.smd-table-container .smd-data-table tbody tr td {
                padding-top: 8px;
                padding-bottom: 8px;
                border-left: 0 !important;
            } 
            &::ng-deep.smd-table-container .smd-data-table tbody tr td:last-of-type {
                border-right: 0 !important;
            } 
        }
        &:last-child {
            flex: 1;
            border-left: 0 !important;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
    }
}