<div class="application-taskflow">
        <smd-datatable #rolesAppAccess [tableId]="_shared.appKey + '.rolesAppAccess'" [paginated]="false"
            [loading]="_shared.rolesAppAccessLoading" [sortEnabled]="!_shared.getRolesAppAccessEditable()"
            (onRowSelected)="rowSelected($event)" [showCheckBox]="false" [inputPath]="_shared.rolesAppAccessPath"
            [primaryKey]="_shared.rolesAppAccessPrimaryKey" [isTitleNeeded] ="false">
            <smd-datatable-column title="Application" field="applicationName" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.applicationName}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Access" field="isAllowed" sortable="true" [filterable]="true"
                [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesAppAccessEditable('isAllowed')">
                        <mat-icon *ngIf="model.isAllowed=='Y'"
                            style="color:green;font-size:20px;vertical-align: middle;text-align:'center'" matTooltip="Active">check_circle
                        </mat-icon>
                        <mat-icon *ngIf="model.isAllowed!='Y'" style="color:red;font-size:20px;vertical-align: middle;"
                            matTooltip="Inactive">cancel</mat-icon>
                    </div>
                    <div *ngIf="_shared.getRolesAppAccessEditable('isAllowed')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesAppAccessPath(index,'isAllowed')"
                            [primaryKey]="_shared.rolesAppAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'isAllowed')"
                            [loading]="_shared.rolesAppAccessLoading || _shared.loading"
                            (valueChanged)="valueChanged(index,model,$event)">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>

        </smd-datatable>

        <smd-datatable #rolesTaskFlowAccess [tableId]="_shared.appKey + '.rolesTaskFlowAccess'" [paginated]="false"
            [loading]="_shared.rolesTaskFlowAccessLoading" [sortEnabled]="!_shared.getRolesTaskFlowAccessEditable()"
            (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()" [showCheckBox]="false"
            [inputPath]="_shared.rolesTaskFlowAccessPath" [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey">

            <smd-datatable-column title=" " field=" " *ngIf="_shared.getRolesTaskFlowAccessEditable()"
                [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="row-operations">
                        <mat-icon *ngIf="model[_shared.rolesTaskFlowAccessPrimaryKey]==0" class="mat-color-danger"
                            matTooltip="Delete line" (click)="deleteLine(index,model)">delete</mat-icon>
                        <mat-icon *ngIf="model[_shared.rolesTaskFlowAccessPrimaryKey]!= 0" style="color:gray"
                            matTooltip="Delete disabled">delete</mat-icon>
                    </div>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Menu" field="taskFlowName" sortable="true" [filterable]="true" stretch="true">
                <ng-template let-model="data" style="max-width: 80px;">
                    {{model.taskFlowName}}
                </ng-template>
            </smd-datatable-column>
            <!-- <smd-datatable-column title="Description" field="description" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.description}}
                </ng-template>
            </smd-datatable-column> -->
            <smd-datatable-column title="View" field="isRead" sortable="true" [filterable]="true"
                [showCheckBox]="_shared.getRolesTaskFlowAccessEditable('isRead')" [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesTaskFlowAccessEditable('isRead')">
                        <!-- <mat-icon *ngIf="model.isRead=='Y'" style="color:green;font-size:20px;vertical-align: middle;"
                            matTooltip="Enabled">check_circle</mat-icon>
                        <mat-icon *ngIf="model.isRead=='N'" style="color:grey;font-size:20px;vertical-align: middle;"
                            matTooltip="Disabled">cancel</mat-icon> -->
                            <mat-checkbox [ngModel]="model.isRead == 'Y'" disabled></mat-checkbox>

                    </div>
                    <div *ngIf="_shared.getRolesTaskFlowAccessEditable('isRead')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesTaskFlowAccessPath(index,'isRead')"
                            [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'isRead')"
                            [loading]="_shared.rolesTaskFlowAccessLoading || _shared.loading">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>

            <smd-datatable-column title="Create" field="isCreate" sortable="true" [filterable]="true"
                [showCheckBox]="_shared.getRolesTaskFlowAccessEditable('isCreate')" [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesTaskFlowAccessEditable('isCreate')">
                        <!-- <mat-icon *ngIf="model.isCreate=='Y'" style="color:green;font-size:20px;vertical-align: middle;"
                            matTooltip="Enabled">check_circle</mat-icon>
                        <mat-icon *ngIf="model.isCreate=='N'" style="color:grey;font-size:20px;vertical-align: middle;"
                            matTooltip="Disabled">cancel</mat-icon> -->
                            <mat-checkbox [ngModel]="model.isCreate == 'Y'" disabled></mat-checkbox>

                    </div>
                    <div *ngIf="_shared.getRolesTaskFlowAccessEditable('isCreate')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesTaskFlowAccessPath(index,'isCreate')"
                            [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'isCreate')"
                            [loading]="_shared.rolesTaskFlowAccessLoading || _shared.loading">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>

            <smd-datatable-column title="Edit" field="isEdit" sortable="true" [filterable]="true"
                [showCheckBox]="_shared.getRolesTaskFlowAccessEditable('isEdit')" [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesTaskFlowAccessEditable('isEdit')">
                        <!-- <mat-icon *ngIf="model.isEdit=='Y'" style="color:green;font-size:20px;vertical-align: middle;"
                            matTooltip="Enabled">check_circle</mat-icon>
                        <mat-icon *ngIf="model.isEdit=='N'" style="color:grey;font-size:20px;vertical-align: middle;"
                            matTooltip="Disabled">cancel</mat-icon> -->
                            <mat-checkbox [ngModel]="model.isEdit == 'Y'" disabled></mat-checkbox>

                    </div>
                    <div *ngIf="_shared.getRolesTaskFlowAccessEditable('isEdit')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesTaskFlowAccessPath(index,'isEdit')"
                            [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'isEdit')"
                            [loading]="_shared.rolesTaskFlowAccessLoading || _shared.loading">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>

            <smd-datatable-column title="Delete" field="isDelete" sortable="true" [filterable]="true"
                [showCheckBox]="_shared.getRolesTaskFlowAccessEditable('isDelete')" [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesTaskFlowAccessEditable('isDelete')">
                        <mat-checkbox [ngModel]="model.isDelete == 'Y'" disabled></mat-checkbox>
                    </div>
                    <div *ngIf="_shared.getRolesTaskFlowAccessEditable('isDelete')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesTaskFlowAccessPath(index,'isDelete')"
                            [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'isDelete')"
                            [loading]="_shared.rolesTaskFlowAccessLoading || _shared.loading">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true"
                [colStyle]="{'width':'10px'}">
                <ng-template let-model="data" let-index="index">
                    <div class="checkbox-center-align" *ngIf="!_shared.getRolesTaskFlowAccessEditable('active')">
                        <mat-icon *ngIf="model.active == 'Y'" class="active-icon" matTooltip="Active">check_circle
                        </mat-icon>
                        <mat-icon *ngIf="model.active == 'N'" class="inactive-icon" matTooltip="Inactive">cancel
                        </mat-icon>
                    </div>
                    <div *ngIf="_shared.getRolesTaskFlowAccessEditable('active')" class="checkbox-center-align">
                        <tnz-input type="checkbox" [path]="_shared.getRolesTaskFlowAccessPath(index,'active')"
                            [primaryKey]="_shared.rolesTaskFlowAccessPrimaryKey" [sharedData]="_shared.formData"
                            [isEdit]="getIfEditable(index,'active')"
                            [loading]="_shared.rolesTaskFlowAccessLoading || _shared.loading">
                        </tnz-input>
                    </div>
                </ng-template>
            </smd-datatable-column>
        </smd-datatable>
</div>