.application-taskflow {
    display: flex;
    overflow: hidden;
    margin-top:2px;
    border: 1px solid #5f5174;
    border-radius: 2px;
    overflow: hidden;
    .app-list {
        width: 240px;
        background: #f3f2f4;
        border-right: 1px solid #cbc7d2;
        box-shadow: 0 0 7px rgba(0,0,0, .12);
        .app-row {
            position: relative;
            display: flex;
            padding: 12px;
            overflow: hidden;
            cursor: pointer;
            &.selected {
                padding-left: 16px;
                background: #fff;
              &:after {
                content: "";
                position: absolute;
                left: -4px;
                top: 15px;
                height: 12px;
                transform: rotateZ(45deg);
                border-right: 12px solid #5f5174;
              }
              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                border-right: 5px solid #5f5174;
              }
            }
            > div:first-child {
               padding-right: 12px;
                flex: 1;
            }
        }
    
    }
    .taskflow-list {
        flex: 1;
        smd-datatable ::ng-deep.smd-datatable-wrap {
          border: 0 !important;
          border-radius: 0 !important;
        }
    }
}