<div class="toolbar">
    <button mat-icon-button mat-dialog-close matToolTip="back to drive">
        <mat-icon> arrow_back </mat-icon>
    </button>
    <div class="title flex-filler text-truncate">{{file.name}}</div>
    <button mat-icon-button (click)="printFile()" matToolTip="print" *ngIf="previewReady && previewType" >
        <mat-icon> print </mat-icon>
    </button>
    <button mat-icon-button (click)="downloadFile()" matToolTip="download" *ngIf="previewReady">
        <mat-icon> file_download </mat-icon>
    </button>
</div>
<div class="content-wrap" (click)="closeOnClick($event)">
    <div *ngIf="scheduler" class="scheduler-loading">
        <mat-icon class='mat-color-info spinner'>camera</mat-icon>
        <strong>Generating Preview</strong>
        <button mat-raised-button color="primary" class="custom-mat-button" (click)="runInBackground()">Run in background</button>
        <mat-checkbox [(ngModel)]="alwaysRunBackground" class="small">Always run in background</mat-checkbox>
    </div>
    <div *ngIf="!scheduler && !previewReady" loadingPlaceholder></div>
    <img *ngIf="previewReady && previewType == 'image'" [src]="fileUrl" />
    <!-- <iframe *ngIf="previewReady && previewType == 'pdf' && fileUrl" [src]="fileUrl">
        <div class="text-center">
            <p>Preview not available.</p>
            <button mat-raised-button color="primary" (click)="downloadFile()">Download File</button>
        </div>
    </iframe> -->
    <embed *ngIf="previewReady && previewType == 'pdf' && fileUrl" width="100%" height="100%" name="plugin" id="plugin" [src]="fileUrl"
        type="application/pdf" />
    <div *ngIf="previewReady && !previewType" class="text-center">
        <p>Preview not available.</p>
        <button mat-raised-button color="primary" (click)="downloadFile()">Download File</button>
    </div>
    <button mat-icon-button (click)="prev()" matToolTip="previous" class="nav prev" *ngIf="hasPrev">
        <mat-icon> navigate_before </mat-icon>
    </button>
    <button mat-icon-button (click)="next()" matToolTip="next" class="nav next" *ngIf="hasNext">
        <mat-icon> navigate_next </mat-icon>
    </button>
</div>
<iframe #printWindow class="print-window"></iframe>
