<div *ngFor="let menuItem of menu;let i= index;">
  <div *ngIf="(!menuFilterd) && (!curExpand|| !menuItem.parentItem || curExpand.indexOf(menuItem.menuItemId)>-1 || curExpand.indexOf(menuItem.parentItem)>-1)">
    <button #subMenuList *ngIf="(!menuItem.url)" mat-menu-item (click)="expandHeader(menuItem)" [class.expand]="curExpand.indexOf(menuItem.menuItemId)>-1"
      [class.current-menu]="curExpand.indexOf(menuItem.menuItemId)>-1 && (!menuItem.parentItem)">
      <mat-icon *ngIf="!menuItem.parentItem" (click)="selectedFn"> {{menuItem.iconName?menuItem.iconName:'palette'}} </mat-icon>{{menuItem.menuItemName}}
      <mat-icon> arrow_drop_down </mat-icon>
    </button>
    <a *ngIf="menuItem.url " mat-menu-item [routerLink]="menuItem.url" routerLinkActive="active" (click)="menuSelected(menuItem.menuItemId)"
      (mouseenter)="hoveringFn(true,i)" (mouseleave)="hoveringFn(false,i)" [class.selected]="curMenu === menuItem.menuItemId">
      <mat-icon *ngIf="!menuItem.parentItem"> {{menuItem.iconName?menuItem.iconName:'palette'}} </mat-icon>{{menuItem.menuItemName}}
      <mat-icon class="bookmark-star-selected" *ngIf="navService.bookmarkedTaskFlows.indexOf(menuItem.taskFlowId) > -1" (click)="removePin($event, menuItem)"> star </mat-icon>
      <mat-icon class="bookmark-star" *ngIf="navService.bookmarkedTaskFlows.indexOf(menuItem.taskFlowId) == -1 && hovered[i]"  (click)="addPin($event, menuItem)"> star_border </mat-icon>
  </a>
    <p-app-nav-menu style="margin-left:24px; display:block;" [menu]="menuItem.childList" *ngIf="(!menuItem.url) && curExpand" (menuClicked)="childMenuClicked()"
      [curMenu]="curMenu" [curExpand]="curExpand"> </p-app-nav-menu>
  </div>
  <div *ngIf="menuFilterd">
     <!-- curMenu= menuItem.menuItemId -->
    <a *ngIf="menuItem.url " mat-menu-item [routerLink]="menuItem.url" routerLinkActive="active" (click)="filterdItemClicked($event, menuItem.menuItemId)"
      [class.selected]="curMenu === menuItem.menuItemId" class="quick-menu-filter-result sub-menu-button"> 
      <mat-icon *ngIf="!menuItem.parentItem"> {{menuItem.iconName?menuItem.iconName:'palette'}} </mat-icon>{{menuItem.menuItemName}}  
       <mat-icon class="bookmark-star-selected" *ngIf="navService.bookmarkedTaskFlows.indexOf(menuItem.taskFlowId) > -1" (click)="removePin($event, menuItem)"> star </mat-icon>
            <mat-icon class="bookmark-star" *ngIf="navService.bookmarkedTaskFlows.indexOf(menuItem.taskFlowId) == -1"  (click)="addPin($event, menuItem)"> star_border </mat-icon>
      <span>{{menuItem.info?('in ' + menuItem.info):''}}</span>
  </a>
  </div>
</div>