<mat-card class="input-card no-padding no-margin">
    <div class="banner">
        <img pImage class="image" [imageUrl]="'/images/users/'+ currentUser.userId">
        <div>
            <div class="knownas">{{currentUser.knownAs}}</div>
        </div>
    </div>
    <mat-dialog-content>    
        <button mat-menu-item [mat-menu-trigger-for]="divisionMenu">
            <span class="flex-filler"> {{division.label}}</span>
            <mat-icon class="no-margin"> keyboard_arrow_down </mat-icon>
        </button>
        <button mat-menu-item (click)="mailBox()" matTooltip="mail box" class="sm-visible">
            <mat-icon> mail </mat-icon>
            <span> Mailbox </span>
        </button>

        <button mat-menu-item (click)="scheduler()" matTooltip="scheduler" class="sm-visible">
            <mat-icon> scheduler </mat-icon>
            <span> Scheduler </span>
        </button>
        <button mat-menu-item (click)="trendzDrive()" matTooltip="scheduler" class="sm-visible">
            <mat-icon> cloud </mat-icon>
            <span> Trendz Drive </span>
        </button>
        <button mat-menu-item (click)="logout()">
            <mat-icon> exit_to_app </mat-icon>
            <span> logout </span>
        </button>
    </mat-dialog-content>
</mat-card>
<mat-menu #divisionMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item *ngFor="let division of divisions" (click)="switchDivison(division)">
        <img style="height: 26px;
        width: 26px;vertical-align:middle;" [src]="division.logo">
        <small [matTooltip]="division.name" style="padding-left: 9px;"> {{division.label}}
            <span class="sm-hidden">- {{division.name}}</span>
        </small>
    </button>
</mat-menu>