<mat-card class="input-card no-padding">
    <mat-toolbar color="accent">
        <span class="title">Notificatons</span>
        <span class="flex-filler"></span>
        <button mat-icon-button matTooltip="refresh" (click)="reload()">
            <mat-icon>refresh</mat-icon>
        </button>
    </mat-toolbar>
    <smd-datatable [models]="null" dataUrl="trendz-messages/notifications" dataHeader="notifications"
        (onRowSelected)="rowSelected($event)">
        <smd-datatable-column title="Notification" field="notification" sortable="true" [filterable]="true">
            <ng-template let-model="data">
                <div [innerHtml]="model.notification"></div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Job Id" field="notifyType" sortable="true" [filterable]="true">
            <ng-template let-model="data">
                {{model.notifyType}}
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Start Time" field="notifyTime" sortable="true">
            <ng-template let-model="data">
                {{model.notifyTime| date:dateUtils.dateTimeFormat}}
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title=" " field=" " titleTooltip="edit">
            <ng-template let-model="data">
                <div>
                    <button mat-icon-button matTooltip="more" style="float:right;" color="accent"
                        (click)="showMoreInfo(model)">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                </div>
            </ng-template>
        </smd-datatable-column>
    </smd-datatable>
</mat-card>