<mat-card class="no-padding program-listing-card" [class.component-loading]="loading">
    <mat-toolbar class="small">
        <span class="title text-truncate">Reports</span>
    </mat-toolbar>
    <mat-card-content>
        <div style="max-width:100%; max-height:55vh" fxLayout="column">
            <mat-form-field class="component-top-filter" matTooltip="search reports">
                <input matInput [formControl]="filterInput" />
                <mat-icon matPrefix (click)="filterReports()">search</mat-icon>
            </mat-form-field>
            <perfect-scrollbar fxLayout="column">
                <div *ngIf="reports.length === 0" fxLayout="column" fxLayoutAlign="center center">
                    <span class="no-data-text">There are no reports!</span>
                </div>
                <div *ngIf="reports.length > 0" class="program-list" style="overflow:unset">
                    <div class="program-list-item" *ngFor="let report of reportsFiltered" mat-ripple (click)="loadProgram(report)">
                        <div class="icon">
                            <img [src]="'./assets/images/drive/doc/' + (report.outputFileType ? (report.outputFileType | lowercase) : 'code') + '.png'">
                        </div>
                        <div class="info">
                            <div class="title text-truncate" [matTooltip]="report.pgmName">{{report.pgmName}}</div>
                            <div class="desc text-truncate">{{report.description}}</div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </div>
    </mat-card-content>
</mat-card>