<smd-datatable [tableId]="_shared.appKey + '.userOrgAccess'" [paginated]="!_shared.getUserOrgAccessEditable()"
	[loading]="_shared.userOrgAccessLoading" class="tnz-input-table"
	 [sortEnabled]="!_shared.getUserOrgAccessEditable()"
	(onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()" [showCheckBox]="false" [inputPath]="_shared.userOrgAccessPath">

	<smd-datatable-column title=" " field=" " *ngIf="_shared.getUserOrgAccessEditable()" [colStyle]="{'width':'20px'}">
		<ng-template let-model="data" let-index="index">
			<div class="row-operations">
				<mat-icon *ngIf="model[_shared.userOrgAccessPrimaryKey]==0" class="mat-color-danger"
					matTooltip="delete line" (click)="deleteLine(index,model)">delete</mat-icon>
				<mat-icon *ngIf="model[_shared.userOrgAccessPrimaryKey] != 0" style="color:gray"
					matTooltip="Delete disabled" >delete</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Division" field="division" sortable="true" [filterable]="true">
		<ng-template let-model="data">
			{{model.facility==""?model.division:""}}
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Facility" field="facility" sortable="true" [filterable]="true">
		<ng-template let-model="data">
			{{model.facility}}
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Access" field="access" sortable="true" [filterable]="true"
		[colStyle]="{'width':'15px'}">
		<ng-template let-model="data" let-index="index">
			<div class="checkbox-center-align" *ngIf="!_shared.getUserOrgAccessEditable('access')">
				<!-- <mat-checkbox  [ngModel]="model.access == 'Y'" disabled></mat-checkbox> -->

				<mat-icon *ngIf="model.access=='Y'" style="color:green;font-size:20px;vertical-align: middle;"
					matTooltip="Active">check_circle</mat-icon>
				<mat-icon *ngIf="model.access!='Y'" style="color:red;font-size:20px;vertical-align: middle;"
					matTooltip="Inactive">cancel</mat-icon>
			</div>
			<div *ngIf="_shared.getUserOrgAccessEditable('access')">
				<tnz-input type="checkbox" [path]="_shared.getUserOrgAccessPath(index,'access')"
					[primaryKey]="_shared.userOrgAccessPrimaryKey" [sharedData]="_shared.formData"
					[isEdit]="getIfEditable(index,'access')"
					[loading]="_shared.userOrgAccessLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Default" field="default" sortable="true" [filterable]="true"
		[colStyle]="{'width':'15px'}">
		<ng-template let-model="data" let-index="index">
			<div class="checkbox-center-align" *ngIf="!_shared.getUserOrgAccessEditable('default')">
                <mat-icon *ngIf="model.default=='Y'" style="color:dodgerblue;font-size:20px;vertical-align: middle;"
                    matTooltip="Default">check_circle</mat-icon>
            
            </div>
			<div *ngIf="_shared.getUserOrgAccessEditable('default')">
				<tnz-input type="checkbox" [path]="_shared.getUserOrgAccessPath(index,'default')"
					[primaryKey]="_shared.userOrgAccessPrimaryKey" [sharedData]="_shared.formData"
					[isEdit]="getIfEditable(index,'default')"
					[loading]="_shared.userOrgAccessLoading || _shared.loading"
					(valueChanged)="defaultFacilityCheck($event,model,index)">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<!-- <smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true" [colStyle]="{'width':'15px'}">
		<ng-template let-model="data" let-index="index">
			<div class="checkbox-center-align" *ngIf="!_shared.getUserOrgAccessEditable('active')">
				<mat-checkbox  [ngModel]="model.active == 'Y'" disabled></mat-checkbox>
			</div>
			<div *ngIf="_shared.getUserOrgAccessEditable('active')">
				<tnz-input type="checkbox" [path]="_shared.getUserOrgAccessPath(index,'active')"
					[primaryKey]="_shared.userOrgAccessPrimaryKey" [sharedData]="_shared.formData"
					[isEdit]="getIfEditable(index,'active')"
					[loading]="_shared.userOrgAccessLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column> -->
	<smd-datatable-column title=" " field=" " *ngIf="_shared.getUserOrgAccessEditable()" [colStyle]="{'width':'20px'}">
		<ng-template let-model="data" let-index="index">
			<div class="row-operations" *ngIf="model.facilityId==0">
				<button mat-button matTooltip="Add Facility">
					<mat-icon class="mat-color-info" (click)="copyFromFacility(model)">add_box</mat-icon>

					<!-- <mat-icon class="mat-color-info" (click)="_shared.addLine('userOrgAccess','division')">add_box</mat-icon> -->
				</button>
			</div>
		</ng-template>
	</smd-datatable-column>
</smd-datatable>