@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@keyframes blink-two {
    0% {
        opacity: .5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



@keyframes loading-dots {
	50% {
			transform: translateY(-.4rem);
	}

	100% {
			transform: translateY(0);
	}
}

@-moz-keyframes loading-dots {
	50% {
			transform: translateY(-.4rem);
	}

	100% {
			transform: translateY(0);
	}
}

@-webkit-keyframes loading-dots {
	50% {
			transform: translateY(-.4rem);
	}

	100% {
			transform: translateY(0);
	}
}

@-ms-keyframes loading-dots {
	50% {
			transform: translateY(-.4rem);
	}

	100% {
			transform: translateY(0);
	}
}

@-o-keyframes loading-dots {
	50% {
			transform: translateY(-.4rem);
	}

	100% {
			transform: translateY(0);
	}
}

@keyframes fadein {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}

@-ms-keyframes fadein {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
			opacity: 0;
	}

	to {
			opacity: 1;
	}
}