/* SideNav Starts */
#app-sidenav app-sidenav {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(45, 50, 62);
    color: rgba(255, 255, 255, 1);
    overflow: auto;
}

#app-sidenav app-sidenav.mat-drawer-open {
    background-color: rgb(45, 50, 62);
    color: rgba(255, 255, 255, 1);
}

#app-sidenav app-sidenav .mat-toolbar {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, .05);
    padding: 0 16px 0 24px;
}

#app-sidenav app-sidenav .sidenav-header .logo {
    outline: none;
    text-decoration: none;
}

#app-sidenav app-sidenav .sidenav-header .logo .logo-image {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    overflow: hidden;
}

#app-sidenav app-sidenav .sidenav-header .logo .logo-image img {
    width: 100%;
}

#app-sidenav app-sidenav .sidenav-header .logo .logo-text {
    color: #fff;
    margin-left: 10px;
    font-size: 16px;
}

#app-sidenav app-sidenav mat-tab-group {
    height: 100%;
}

#app-sidenav app-sidenav mat-tab-group .mat-tab-header {
    margin-top: 16px;
    padding: 0 3px;
}

#app-sidenav app-sidenav mat-tab-group .mat-ink-bar {
    background-color: #a586c3;
}

#app-sidenav app-sidenav mat-tab-group .mat-tab-body-wrapper {
    height: calc(100% - 53px);
}

#app-sidenav app-sidenav mat-tab-group .mat-tab-label {
    padding: 0;
    min-width: auto !important;
    height: 36px !important;
    width: 100%;
    color: #fff;
}

#app-sidenav app-sidenav mat-tab-group .mat-tab-label .mat-icon {
    height: 36px;
    line-height: 36px;
}

#app-sidenav app-sidenav mat-tab-group .mat-tab-label.mat-tab-label-active {
    opacity: 1;
    color: #ffffff;
    background: rgba(195, 195, 195, 0.21);
    border-radius: 3px 3px 0 0;
}

#app-sidenav app-sidenav .app-list-btn {
    position: absolute;
    left: 0;
    top: 8px;
    z-index: 2;
    color: #abadb2;
    width: 40px;
    height: 40px;
}

#app-sidenav app-sidenav perfect-scrollbar {
    height: 100%;
}

#app-sidenav app-sidenav perfect-scrollbar .ps__scrollbar-y-rail {
    z-index: 4;
}

#app-sidenav app-sidenav perfect-scrollbar .ps:hover>.ps__scrollbar-y-rail:hover {
    background-color: rgba(0, 0, 0, 0.36);
}

#app-sidenav app-sidenav perfect-scrollbar .ps--in-scrolling.ps--y>.ps__scrollbar-y-rail:hover {
    background-color: rgba(0, 0, 0, 0.72);
}

#app-sidenav app-sidenav nav {
    padding-top: 44px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#app-sidenav app-sidenav nav .mat-menu-item {
    padding-left: 24px;
    font-size: .9rem;
    color: rgba(255, 255, 255, .92);
    border-left: 3px solid transparen
}

#app-sidenav p-app-nav-menu p-app-nav-menu .mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
}

#app-sidenav app-sidenav nav .mat-menu-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    line-height: 48px;
    height: 48px;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    position: relative;
}

#app-sidenav app-sidenav nav .mat-menu-item .mat-icon {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, .7);
    font-size: 16px;
    opacity: .72;
}

#app-sidenav app-sidenav nav .mat-menu-item.title {
    position: absolute;
    top: 0;
    height: 44px;
    line-height: 32px;
    color: rgba(255, 255, 255, .3);
    font-size: 12px;
    font-weight: 700;
    cursor: auto;
    text-transform: uppercase;
    background: #383c48 !important;
    z-index: 1;
    padding-top: 12px;
    padding-left: 42px;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 1);
    box-shadow: 0 0 12px rgba(0, 0, 0, 1);
}

#app-sidenav app-sidenav nav .mat-menu-item:hover:not([disabled]) {
    background: rgba(0, 0, 0, 0.1);
}

#app-sidenav app-sidenav nav .mat-menu-item.sub-title {
    height: 36px;
    line-height: 42px;
    font-weight: 500;
    color: rgba(255, 255, 255, .3);
}

#app-sidenav app-sidenav nav .mat-menu-item.active.selected {
    background: #039be5;
}

#app-sidenav app-sidenav nav .mat-menu-item .mat-icon {
    width: 16px;
    height: 16px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    opacity: .72;
}

#app-sidenav app-sidenav nav .dropdown-menu {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
    overflow: hidden;
}

#app-sidenav app-sidenav nav .mat-menu-item.expand {
    background: rgba(0, 0, 0, 0.1);
}

#app-sidenav app-sidenav nav .dropdown-menu.expand {
    max-height: 620px;
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.1);
}

#app-sidenav app-sidenav nav .dropdown-menu .mat-menu-item {
    padding-left: 56px;
}

#app-sidenav app-sidenav .attribution {
    padding-left: 24px;
    font-size: 12px;
    line-height: 24px;
    color: rgba(255, 255, 255, .3);
}

#app-sidenav app-sidenav nav .mat-menu-item .badge {
    background: #efefef;
    color: #2d323e;
    padding: 2px 3px;
    border-radius: 3px;
    text-align: center;
    margin-left: 8px;
    letter-spacing: .5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#app-sidenav button.mat-menu-item>span {
    display: block;
    position: absolute;
    bottom: 3px;
    line-height: 10px;
    font-size: 12px !important;
    color: #798 !important;
    margin-left: 3px;
}

#app-sidenav .menu-search {
    text-align: left;
    width: 100%;
    border: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 12px 12px 24px;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid transparent;
}

#app-sidenav .menu-search:focus {
    border-bottom: 1px solid #107ab3;
}

#app-sidenav app-sidenav nav .mat-menu-item:focus {
    background: rgba(0, 0, 0, 0.4);
}

.sub-menu-title {
    font-weight: bold;
}

.bookmark-star {
    position: absolute;
    right: 0;
    z-index: 9;
    margin-top: 14px;
    width: 0;
}

.bookmark-star-selected {
    position: absolute;
    right: 0;
    z-index: 9;
    margin-top: 14px;
    width: 0;
    color: #039be5 !important;
}

/* SideNav Ends */

/* Quick Filter Starts*/
.quick-menu-filter {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    font-size: 12px;
    font-weight: 600;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 80%;
    max-width: 300px;
    overflow: hidden;
}

@media (min-width: 1280px) {
    .mat-drawer-opened~.quick-menu-filter {
        left: calc(50% + 120px);
    }
}

.quick-menu-filter input {
    width: 100%;
    border: none;
    padding: 16px 24px;
    box-sizing: border-box;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.quick-menu-filter-result {
    font-size: 14px !important;
}

.quick-menu-filter-result span {
    display: block;
    position: absolute;
    bottom: 3px;
    line-height: 10px;
    font-size: 12px !important;
    color: #798 !important;
    margin-left: 3px;
}

/* Quick Filter Ends*/