<smd-datatable [tableId]="_shared.appKey + '.parameter'" [paginated]="!_shared.getParametersEditable()" [loading]="_shared.parametersDetailsLoading" [primaryListing]="false"
class="tnz-input-table"  [showCheckBox]="false" (dataChange)="onDataChange($event)" [inputPath]="_shared.parametersDetailsPath">
   <smd-datatable-column title=" " field=" " *ngIf="_shared.editMode" [colStyle]="{'width':'20px'}">
       <ng-template let-model="data" let-index="index">
           <div class="row-operations">
               <mat-icon *ngIf="model.paramId" class="mat-color-disabled-danger" style="cursor: auto">delete</mat-icon>
               <mat-icon *ngIf="!model.paramId" class="mat-color-danger" matTooltip="delete line" (click)="deleteLine(index)">delete</mat-icon>
           </div>
       </ng-template>
   </smd-datatable-column>
   <smd-datatable-column title="#" field="displayOrder" sortable="true" [filterable]="true">
       <ng-template let-model="data" let-index="index">
           <span *ngIf="!_shared.getParametersEditable()">{{model.displayOrder}}</span>
           <div *ngIf="_shared.getParametersEditable('displayOrder')">
               <tnz-input type="number" [path]="_shared.getParameterDetailsPath(index,'displayOrder')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
                [sharedData]="_shared.formData" validators="required,min:1" [isEdit]="_shared.getParametersEditable('displayOrder')"
                [loading]="_shared.parametersDetailsLoading || _shared.loading" class="tnz-input-center-align">
               </tnz-input>
           </div>
       </ng-template>
   </smd-datatable-column>
   <smd-datatable-column title="Parameter" field="parameter" sortable="true" [filterable]="true">
       <ng-template let-model="data" let-index="index">
           <span *ngIf="!_shared.getParametersEditable()">{{model.parameter}}</span>
           <div *ngIf="_shared.getParametersEditable('parameter')">
               <tnz-input [path]="_shared.getParameterDetailsPath(index,'parameter')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
               [sharedData]="_shared.formData" validators="required" [isEdit]="_shared.getParametersEditable('parameter')" [loading]="_shared.parametersDetailsLoading || _shared.loading">
               </tnz-input>
           </div>
       </ng-template>
   </smd-datatable-column>
   <smd-datatable-column title="Value Set" field="valueSet" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <span *ngIf="!_shared.getParametersEditable()">{{model.valueSet}}</span>
        <div *ngIf="_shared.getParametersEditable('valueSet')">
            <tnz-input type="lov" [path]="_shared.getParameterDetailsPath(index,'valueSet')" [primaryKey]="_shared.parametersDetailsPrimaryKey" displayKey="label"
            [sharedData]="_shared.formData" [lovConfig]="valuSetLov" [isEdit]="_shared.getParametersEditable('valueSet')"
            [loading]="_shared.parametersDetailsLoading || _shared.loading" >
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Default Value" field="defaultValue" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <span *ngIf="!_shared.getParametersEditable()">{{model.defaultValue}}</span>
        <div *ngIf="_shared.getParametersEditable('defaultValue')">
            <tnz-input [path]="_shared.getParameterDetailsPath(index,'defaultValue')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="_shared.getParametersEditable('defaultValue')" [loading]="_shared.parametersDetailsLoading || _shared.loading">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="TF parameter" field="tfParam" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <span *ngIf="!_shared.getParametersEditable()">{{model.tfParam}}</span>
        <div *ngIf="_shared.getParametersEditable('tfParam')">
            <tnz-input [path]="_shared.getParameterDetailsPath(index,'tfParam')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="_shared.getParametersEditable('tfParam')" [loading]="_shared.parametersDetailsLoading || _shared.loading">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Field width" field="fieldWidth" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <span *ngIf="!_shared.getParametersEditable()">{{model.fieldWidth}}</span>
        <div *ngIf="_shared.getParametersEditable('fieldWidth')">
            <tnz-input [path]="_shared.getParameterDetailsPath(index,'fieldWidth')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="_shared.getParametersEditable('fieldWidth')" [loading]="_shared.parametersDetailsLoading || _shared.loading">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Exclude" field="exclude" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <div class="checkbox-center-align" *ngIf="!_shared.getParametersEditable('exclude')">
            <mat-checkbox [ngModel]="model.exclude == 'Y'" disabled></mat-checkbox>
        </div>
        <div *ngIf="_shared.getParametersEditable('exclude')">
            <tnz-input type="checkbox" [path]="_shared.getParameterDetailsPath(index,'exclude')"
                [primaryKey]="_shared.parametersDetailsPrimaryKey" [sharedData]="_shared.formData"
                [isEdit]="_shared.getParametersEditable(index,'exclude')" [loading]="_shared.parametersDetailsLoading || _shared.loading"
                class="checkbox-center-align">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Required" field="required" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <div class="checkbox-center-align" *ngIf="!_shared.getParametersEditable('required')">
            <mat-checkbox [ngModel]="model.required == 'Y'" disabled></mat-checkbox>
        </div>
        <div *ngIf="_shared.getParametersEditable('required')">
            <tnz-input type="checkbox" [path]="_shared.getParameterDetailsPath(index,'required')"
                [primaryKey]="_shared.parametersDetailsPrimaryKey" [sharedData]="_shared.formData"
                [isEdit]="_shared.getParametersEditable(index,'required')" [loading]="_shared.parametersDetailsLoading || _shared.loading"
                class="checkbox-center-align">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Display" field="display" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <div class="checkbox-center-align" *ngIf="!_shared.getParametersEditable('display')">
            <mat-checkbox [ngModel]="model.display == 'Y'" disabled></mat-checkbox>
        </div>
        <div *ngIf="_shared.getParametersEditable('display')">
            <tnz-input type="checkbox" [path]="_shared.getParameterDetailsPath(index,'display')"
                [primaryKey]="_shared.parametersDetailsPrimaryKey" [sharedData]="_shared.formData"
                [isEdit]="_shared.getParametersEditable(index,'display')" [loading]="_shared.parametersDetailsLoading || _shared.loading"
                class="checkbox-center-align">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <div class="checkbox-center-align" *ngIf="!_shared.getParametersEditable('active')">
            <mat-icon *ngIf="model.active == 'Y'" class="active-icon" matTooltip="Active">check_circle</mat-icon>
            <mat-icon *ngIf="model.active == 'N'" class="inactive-icon" matTooltip="Inactive">cancel</mat-icon>
        </div>
        <div *ngIf="_shared.getParametersEditable('active')">
            <tnz-input type="checkbox" [path]="_shared.getParameterDetailsPath(index,'active')"
                [primaryKey]="_shared.parametersDetailsPrimaryKey" [sharedData]="_shared.formData"
                [isEdit]="_shared.getParametersEditable(index,'active')" [loading]="_shared.parametersDetailsLoading || _shared.loading"
                class="checkbox-center-align">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Validation" field="validation" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <span *ngIf="!_shared.getParametersEditable()">{{model.validation}}</span>
        <div *ngIf="_shared.getParametersEditable('validation')">
            <tnz-input [path]="_shared.getParameterDetailsPath(index,'validation')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="_shared.getParametersEditable('validation')" [loading]="_shared.parametersDetailsLoading || _shared.loading">
            </tnz-input>
        </div>
    </ng-template>
</smd-datatable-column>
<!-- <smd-datatable-column title="Created By" field="createdBy" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <tnz-input [path]="_shared.getParameterDetailsPath(index,'createdBy')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="false" [loading]="_shared.parametersDetailsLoading || _shared.loading">
        </tnz-input>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Created On" field="creationDate" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <tnz-input [path]="_shared.getParameterDetailsPath(index,'creationDate')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="false" [loading]="_shared.parametersDetailsLoading || _shared.loading">
        </tnz-input>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Modified By" field="lastUpdatedBy" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <tnz-input [path]="_shared.getParameterDetailsPath(index,'lastUpdatedBy')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="false" [loading]="_shared.parametersDetailsLoading || _shared.loading">
        </tnz-input>
    </ng-template>
</smd-datatable-column>
<smd-datatable-column title="Modified On" field="lastUpdateDate" sortable="true" [filterable]="true">
    <ng-template let-model="data" let-index="index">
        <tnz-input [path]="_shared.getParameterDetailsPath(index,'lastUpdateDate')" [primaryKey]="_shared.parametersDetailsPrimaryKey"
            [sharedData]="_shared.formData" [isEdit]="false" [loading]="_shared.parametersDetailsLoading || _shared.loading">
        </tnz-input>
    </ng-template>
</smd-datatable-column> -->
</smd-datatable>