<!-- <mat-card class="input-card">
  <mat-toolbar mat-card-image color="primary" class="ui-toolbar">
    <div class = "ui-title">
      <mat-icon>cloud_upload</mat-icon>
      <span><strong>Up</strong>load</span>
    </div>
  </mat-toolbar>
  <mat-dialog-content class  ="ui-dialog-content">
    <mat-icon *ngIf= "!imageUploaded" class="ui-default-image">person_outline</mat-icon>
    
    <img-cropper *ngIf= "imageUploaded" #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    <div class="file-upload">
        <input class="ui-inputfile" id="custom-input" type="file" (change)="fileChangeListener($event)" />
        <label for="custom-input" class = "ui-image-label"><u>Browse</u> to begin the upload</label>
      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-filler"></span>
    <button  mat-button mat-dialog-close aria-label="Cancel">Cancel</button>
    <button  *ngIf= "imageUploaded" mat-raised-button aria-label="Done" (click)="selectImage()">Done</button>
  </mat-dialog-actions>
</mat-card> -->