<div class="details">
    <div>
        <perfect-scrollbar>
            <cut-register-header></cut-register-header>
            <cut-register-card collapsibleComponent></cut-register-card>
        </perfect-scrollbar>
    </div>
    <div class="line-details">
        <div style="display: flex">
            <span class="flex-filler"></span>
            <div *ngIf="!_shared.editMode" class="form-nav">
                <span class="doc-contributors">Created by {{_shared.formData.header?.createdByName}} on {{_shared.formData.header?.creationDate}}, Modified
                    by {{_shared.formData.header?.lastUpdateByName}} on {{_shared.formData.header?.lastUpdateDateTime}}</span>
                <form-nav [apiUrl]="'/cut-register/navigation/' + _shared.id" navUrl="/cut-register" [params]="_shared.params"></form-nav>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Details">
                <div class="group">
                    <order-details></order-details>
                </div>
                <div class="group-flex">
                    <div class="group">
                        <marker-details></marker-details>
                    </div>
                    <div class="group">
                        <cut-register-products></cut-register-products>
                    </div>
                </div>
                <div class="group">
                    <layer-details></layer-details>
                </div>
            </mat-tab>
            <mat-tab label="Bundle Generation">
                <div class="group">
                    <cut-bundle></cut-bundle>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>