<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<div class="app-content-header">
    <div class="app-title">
        <span class="primary">User </span> Profile
    </div>
    <!-- <div class="app-menus">
        <div class="group">

            <ng-container *ngIf="!_shared.editMode">
                <a (click)="editUserProfile()">Edit</a>
            </ng-container>

            <ng-container class="group" *ngIf="_shared.editMode">
                <a (click)="save()">Save</a>
                <a (click)="cancelEdit()">Cancel</a>
            </ng-container>
        </div>
    </div> -->
</div>
<div class="app-content-container">
    <div class="app-content-wrapper">

        <div class="wrapper">
            <div class="userBox">
                <div class="header">
                    <p title="Known As (User Name) ">{{_shared.getHeaderAttributeValue('knownAs') }} ({{_shared.getHeaderAttributeValue('userName')}})
                    </p>
                </div>
                <img pImage #profilePic class="userPic" [imageUrl]="'/images/users/'+ currentUser.userId"
                    title="Upload Profile Picture" (click)="openImageUploader()" default="avatars/no-user.jpg">
                  
                    <!-- <img   [src]="_shared.getHeaderAttributeValue('displayPicture')"
                    title="Upload Profile Picture" (click)="openImageUploader()" default="avatars/no-user.jpg"> -->


                <div class="middle">
                    <div class="middleText">
                        
                        <p>
                            <mat-icon mat-prefix title="Full Name">person</mat-icon>
                            <b>
                                {{_shared.getHeaderAttributeValue('firstName')}}
                                {{_shared.getHeaderAttributeValue('middleName')}}
                                {{_shared.getHeaderAttributeValue('lastName')}}

                            </b>

                        </p>
                        <p>
                            <mat-icon title="Email Address">mail</mat-icon><span> {{_shared.getHeaderAttributeValue('emailAddress')}} </span>
                        </p>
                        <p>
                            <mat-icon matPrefix class="prefix" title="Employee ID">branding_watermark</mat-icon>
                            {{_shared.getHeaderAttributeValue('personnelNum')}}
                        </p>
                        <p>
                            <mat-icon matPrefix class="prefix" title="Contact Number">phone</mat-icon>
                 
                            <span> 
                                {{_shared.getHeaderAttributeValue('countryPhCode')}}
                                {{_shared.getHeaderAttributeValue('phoneNumber')}}
                            </span>

                        </p>
                       

                        <div style="text-align: left;margin-left: 50px;">
                                <img class="person" pImage #signature [imageUrl]="'/images/users/signature/'+ currentUser.userId"
                                    title="Upload Signature" (click)="openSignatureUploader()" alt="Upload Signature"
                                    default="avatars/upload-signature.png">
                                  
                        </div>  


                    </div>

                    <div style="text-align: center;">
                        <button mat-raised-button  class="darkbutton" (click)="changePassword()"> <span>
                                <mat-icon matPrefix class="prefix">lock</mat-icon>
                            </span> Change Password</button>
                        <li></li>
                        <button mat-raised-button class="darkbutton" (click)="editProfileDetails()"> <span>
                                <mat-icon matPrefix class="prefix">create</mat-icon>
                            </span> Edit Profile</button>

                    </div>

                </div>
            </div>
        </div>

    </div>
</div>