<div>
    <perfect-scrollbar>
        <smd-datatable [dataUrl]="_shared.apiBase" dataHeader="docStatusRef" (dataChange)="_onDataChange($event)" [rowCount]="_shared.count"
            (pageChange)="pageChanged($event)" [selectedPage]="_shared.selectedPage" [sortEnabled]="!_shared.editMode" [filterEnabled]="!_shared.editMode"
            [primaryListing]="false" class="tnz-input-table">
            <smd-datatable-column title=" " field=" " [colStyle]="{'width':'10px'}" *ngIf="_shared.editMode">
                <ng-template let-model="data" let-index="index">
                    <div class="row-operations" *ngIf="model[_shared.docStatusRefPrimaryKey] == 0">
                        <mat-icon class="mat-color-danger" matTooltip="delete line" (click)="deleteLine(index)">delete</mat-icon>
                    </div>
                    <div class="row-operations" *ngIf="model[_shared.docStatusRefPrimaryKey] != 0">
                        <mat-icon class="mat-color-disabled-danger" matTooltip="delete line">delete</mat-icon>
                    </div>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Reference Key" field="refKey" sortable="true" [filterable]="true"  [colStyle]="{'width':'400px'}">
                <ng-template let-model="data" let-index="index">
                    <tnz-input class="text-upper" [path]="_shared.getdocStatusRefAttrPath(index,'refKey')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="_shared.editMode" [loading]=false style=" min-width: 300px;"
                        validators="required" (valueChanged)="validateData($event,index,'refKey',model.status)">
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Status" field="status" sortable="true" [filterable]="true" [colStyle]="{'width':'300px'}">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="lov" [path]="_shared.getdocStatusRefAttrPath(index,'status')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="_shared.editMode" [loading]="false" style=" min-width: 350px;"
                        [lovConfig]="statusLov" validators="required" (valueChanged)="validateData($event,index,'status',model.refKey)">
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Description" field="description" sortable="true" [filterable]="true" [colStyle]="{'width':'700px'}">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="text" [path]="_shared.getdocStatusRefAttrPath(index,'description')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="_shared.editMode" [loading]=false style=" min-width: 400px;"
                        (valueChanged)="validateData($event,index,'description')">
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true">
                <ng-template let-model="data" let-index="index">
                    <div *ngIf="!_shared.editMode">
                        <mat-icon *ngIf="model.active=='Y'" style="color:green;font-size:20px;vertical-align: middle; padding-left: 20px;" matTooltip="Active">check_circle</mat-icon>
                        <mat-icon *ngIf="model.active!='Y'" style="color:red;font-size:20px;vertical-align: middle; padding-left: 20px;" matTooltip="Inactive">cancel</mat-icon>
                    </div>
                    <div *ngIf="_shared.editMode&& model[_shared.docStatusRefPrimaryKey] != 0">
                        <tnz-input type="checkbox" [path]="_shared.getdocStatusRefAttrPath(index,'active')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                            [sharedData]="_shared.formData" [isEdit]="_shared.editMode" [loading]=false class="checkbox-center-align">
                        </tnz-input>
                    </div>
                    <div class="checkbox-center-align" *ngIf="model[_shared.docStatusRefPrimaryKey] == 0">
                        <mat-checkbox [ngModel]="model.active == 'Y'" disabled></mat-checkbox>
                    </div>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Created By" field="createdUser" sortable="true" [filterable]="true">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="text" [path]="_shared.getdocStatusRefAttrPath(index,'createdUser')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="false" [loading]=false>
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Created On" field="creationDateTr" sortable="true" [filterable]="true">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="text" [path]="_shared.getdocStatusRefAttrPath(index,'creationDateTr')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="false" [loading]=false>
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Modified By" field="lastUpdatedUser" sortable="true" [filterable]="true">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="text" [path]="_shared.getdocStatusRefAttrPath(index,'lastUpdatedUser')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="false" [loading]=false>
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Modified On" field="lastUpdatedDateTr" sortable="true" [filterable]="true">
                <ng-template let-model="data" let-index="index">
                    <tnz-input type="text" [path]="_shared.getdocStatusRefAttrPath(index,'lastUpdatedDateTr')" [primaryKey]="_shared.docStatusRefPrimaryKey"
                        [sharedData]="_shared.formData" [isEdit]="false" [loading]=false>
                    </tnz-input>
                </ng-template>
            </smd-datatable-column>
        </smd-datatable>
    </perfect-scrollbar>
</div>