<smd-datatable [tableId]="_shared.appKey + '.prodlist'" [paginated]="!_shared.getCutPanelDetailsEditable()" [loading]="_shared.cutPanelDetailsLoading"
 class="tnz-input-table" (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()" [filterEnabled]="!_shared.getCutPanelDetailsEditable()">
	<smd-datatable-column title=" " field=" " *ngIf="_shared.editMode" [colStyle]="{'width':'20px'}">
		<ng-template let-model="data" let-index="index">
			<div class="row-operations">
				<mat-icon class="mat-color-danger" matTooltip="delete line" (click)="deleteLine(index)">delete</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="#" field="displayOrder" sortable="true" [filterable]="true" [colStyle]="{'width':'45px'}">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getCutPanelDetailsEditable('displayOrder')">{{model.displayOrder}}</span>
			<div *ngIf="_shared.getCutPanelDetailsEditable('displayOrder')">
				<tnz-input dataType="number" [path]="_shared.getCutPanelDetailsPath(index,'displayOrder')" [primaryKey]="_shared.cutPanelDetailsPrimaryKey"
				 [sharedData]="_shared.formData" validators="required,min:1" [isEdit]="_shared.getCutPanelDetailsEditable('displayOrder')"
				 [loading]="_shared.cutPanelDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Cut Panel Name" field="panelNameTr" sortable="true" [filterable]="true">
		<ng-template let-model="data" let-index="index">
			<!-- <tnz-input [path]="_shared.getCutPanelDetailsPath(index,'panelNameTr')" [primaryKey]="_shared.cutPanelDetailsPrimaryKey"
			 [sharedData]="_shared.formData" validators="required" [isEdit]="false" [loading]="_shared.cutPanelDetailsLoading || _shared.loading">
			</tnz-input> -->
			{{model.panelNameTr}}
		</ng-template>
	</smd-datatable-column>
</smd-datatable>