:host {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	.frequent-listing {
		width: 34%;
		max-width: 400px;
	}
	.all-programs {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow: hidden;
		border-right: 3px solid #ccc;
		.programs-search {
			position: relative;
			input {
				color: rgba(0, 0, 0, 0.72);
				height: 32px;
				border: 0;
				outline: 0;
				width: 100%;
                padding: 4px 12px 4px 24px;
                box-sizing: border-box;
                border-bottom: 2px solid #ccc;
			}
			mat-icon {
				position: absolute;
				left: 0px;
				top: 4px;
				width: 24px;
				height: 24px;
				line-height: 24px;
				text-align: center;
				cursor: pointer;
			}
			.reload-btn {
				position: absolute;
				right: 4px;
				top: 3px;
			}
		}

		.program-group-wrap {
			display: flex;
			flex-direction: row;
			flex: 1;
			overflow: hidden;

			.groups,
			.programs {
				display: flex;
				flex-direction: column;
				height: auto;
				overflow: auto;

				.ps-content {
					display: flex;
					min-height: 100%;
				}
			}

			.groups {
				max-width: 220px;
				min-width: 220px;
				border-right: 1px solid rgba(0, 0, 0, 0.12);
				box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.12);

				.program-list {
					padding: 0;

					.program-list-item {
						align-items: center;
						font-weight: 600;
						transition: padding 0.2s linear;

						.count {
							padding: 3px 5px;
							border-radius: 50%;
							min-width: 10px;
							font-size: 12px;
							font-weight: 400;
							text-align: center;
							color: #fff;
						}

						&.selected {
							padding-left: 16px;
						}

						&.selected:after {
							content: "";
							position: absolute;
							left: -4px;
							top: 11px;
							height: 12px;
							transform: rotateZ(45deg);
						}

						&.selected:before {
							content: "";
							position: absolute;
							left: 0;
							top: 0;
							height: 100%;
						}
					}
				}
			}

			.programs {
				flex: 1 1 auto;
			}
		}
	}


	.no-data-text {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 24px 12px;
		font-size: 20px;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.72);
		text-align: center;
	}
}
