<div class="group">
    <h4>General</h4>
    <ul >
        <li >
            <label id="header">Short Code</label>
            <div class="val">
              <tnz-input class="text-upper" type="text" 
              [path]="_shared.getHeaderAttrPath('shortCode')"
              [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                  validators="required"  [isEdit]="getIfEditable('shortCode')" 
                  (valueChanged)="valueChangedFromUI($event)"
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input>  
                 
            </div>
        </li>
      <li>
            <label id="header">Name</label>
            <div class="val">
                <tnz-input  type="text" [path]="_shared.getHeaderAttrPath('divisionName')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                validators="required,length:60"  [isEdit]="getIfEditable('divisionName')" 
                  (valueChanged)="valueChangedFromDivision($event)"
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input> 
            </div>
        </li>
        <br/>
     <li>
            <label id="header">Company</label>
            <div class="val">
                
                <tnz-input type="lov" [path]="_shared.getHeaderAttrPath('company')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" 
                  validators="required"  [isEdit]="getIfEditable('company')" [lovConfig]="companyLov" displayKey="label"
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input> 

            </div>
        </li>   
        <li>
            <label id="header">Active</label>
            <div class="val" *ngIf=_shared.editMode>
                
                <tnz-input  type="checkbox" [path]="_shared.getHeaderAttrPath('active')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                  validators="required"  [isEdit]="getIfEditable('active')" 
                  [loading]="_shared.headerLoading || _shared.loading" > 
                </tnz-input> 
            </div>
            <div class="val" *ngIf=!_shared.editMode style="padding-left: 9px">
                
                <mat-icon *ngIf=" _shared.formData.header?.active =='Y'"  style="color:green;font-size:20px;vertical-align: middle;"  matTooltip="Active">check_circle</mat-icon> 
                <mat-icon *ngIf=" _shared.formData.header?.active =='N'"  style="color:red;font-size:20px;vertical-align: middle;" matTooltip="Inactive">cancel</mat-icon>
            </div>
            <!-- <div class="val" *ngIf=!_shared.editMode && model.active='N'>
                
                <mat-icon  style="color:red;font-size:20px;vertical-align: middle;" matTooltip="Inactive">cancel</mat-icon>
            </div> -->
        </li>  
    </ul>
</div>
<div class="group">
    <h4>Description</h4>
    <ul>
        <li>
            <div class="val">
                <tnz-input type="textarea" [path]="_shared.getHeaderAttrPath('description')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData" stretch="true"
                    [isEdit]="getIfEditable('description')" [loading]="_shared.headerLoading || _shared.loading"  validators="length:240">
                </tnz-input>
            </div>
        </li>
    </ul>
</div>