<div class="app-content-header">
	<div class="app-title" routerLink="./list">
		<span class="primary">Lookup</span>
	</div>
	<div class="app-menus">
		<div class="group" *ngIf="!_shared.editMode">
			<a (click)="newLookup()">Create</a>
			<a *ngIf="_shared.lookupType!='--' && _shared.getHeaderAttributeValue('accessLevel')!='S'" (click)="editLookup()">Edit</a>
		</div>
		
		<div class="group" *ngIf="_shared.editMode">
			<a (click)="save()">Save</a>
			<a (click)="save(true)">Save & exit</a>
			<a (click)="cancelEdit()">Cancel</a>
		</div>
	</div>
</div>
<div class="app-content-container">
	<div class="app-content-wrapper">
		<router-outlet></router-outlet>
	</div>
</div>