<div style="display: flex;">
    <h3>{{title}}</h3>
    <span class="flex-filler"></span>
    <div *ngIf = "addType == 0" style="display: flex;">
        <h4 style="padding-right: 4px;">Qty/CTN: </h4>
        <tnz-input [path]="_shared.getSolidPackDetailsPath(0,'qntyPerCtnTemp')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.solidPackData"
        validators="min:1" [isEdit]="true" (valueChanged)="valueChanged($event,'qntyPerCtnTemp')">
    </tnz-input>
    </div>
    <div *ngIf = "addType == 1" style="display: flex;">
        <h4 style="padding-right: 4px;">No of CTN: </h4>
        <tnz-input [path]="_shared.getRatioPacksHeaderPath(0,'noOfCartons')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.ratioPackData"
        validators="min:1" [isEdit]="true" (valueChanged)="valueChanged($event,'noOfCartons')">
    </tnz-input>
    </div>
</div>
<mat-dialog-content>
    <span *ngIf = "addType == 0">
        <smd-datatable [tableId]="_shared.appKey + '.packsolidlist'" [paginated]="!_shared.getPacksDetailsEditable()" [loading]="_shared.solidPackLoading"
        class="tnz-input-table" (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()" [filterEnabled]="!_shared.getPacksDetailsEditable()"
        [sortEnabled]="!_shared.getPacksDetailsEditable()" [showCheckBox]="false">
           
           <smd-datatable-column title="Seq#" field="sequence" sortable="true" [filterable]="true">
               <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getPacksDetailsEditable('sequence')">{{model.sequence}}</span>
                <div *ngIf="_shared.getPacksDetailsEditable('sequence')">
                    <tnz-input [path]="_shared.getSolidPackDetailsPath(index,'sequence')" [primaryKey]="_shared.packsDetailsPrimaryKey" [sharedData]="_shared.formData"
                     validators="min:0" [isEdit]="_shared.getPacksDetailsEditable('sequence')" [loading]="_shared.solidPackLoading || _shared.loading" (valueChanged)="valueChanged($event,'sequence',index)">
                    </tnz-input>
                </div>
               </ng-template>
           </smd-datatable-column>
           <smd-datatable-column title="Style Variant" field="styleVariant" sortable="true" [filterable]="true" stretch="true">
               <ng-template let-model="data" let-index="index">
                   <span>{{model.styleVariant}}</span>
               </ng-template>
           </smd-datatable-column>
           <smd-datatable-column title="Qty/CTN" field="qntyPerCtn" sortable="true" [filterable]="true">
               <ng-template let-model="data" let-index="index">
                   <span *ngIf="!_shared.getPacksDetailsEditable('qntyPerCtn')">{{model.qntyPerCtn}}</span>
                   <div *ngIf="_shared.getPacksDetailsEditable('qntyPerCtn')">
                       <tnz-input [id]="_shared.getSolidPackDetailsPath(index,'qntyPerCtn')" [path]="_shared.getSolidPackDetailsPath(index,'qntyPerCtn')" [primaryKey]="_shared.packsDetailsPrimaryKey" [sharedData]="_shared.formData"
                        validators="min:0" [isEdit]="_shared.getPacksDetailsEditable('qntyPerCtn')" [loading]="_shared.solidPackLoading || _shared.loading" (valueChanged)="valueChanged($event,'qntyPerCtn',index)">
                       </tnz-input>
                   </div>
               </ng-template>
           </smd-datatable-column>
        <smd-datatable-column title="Quantity" field="orderQty" sortable="true" [filterable]="true">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getPacksDetailsEditable('orderQty')">{{model.orderQty}}</span>
                <div *ngIf="_shared.getPacksDetailsEditable('orderQty')">
                    <tnz-input [path]="_shared.getSolidPackDetailsPath(index,'orderQty')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                     validators="min:0" [isEdit]="_shared.getPacksDetailsEditable('orderQty')" [loading]="_shared.solidPackLoading || _shared.loading" (valueChanged)="valueChanged($event,'orderQty',index)">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="No of Cartons" field="noOfCartons" sortable="true" [filterable]="true">
            <ng-template let-model="data" let-index="index">
                <span *ngIf="!_shared.getPacksDetailsEditable('noOfCartons')">{{model.noOfCartons}}</span>
                <div *ngIf="_shared.getPacksDetailsEditable('noOfCartons')">
                    <tnz-input [path]="_shared.getSolidPackDetailsPath(index,'noOfCartons')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                     validators="min:0" [isEdit]="false" [loading]="_shared.solidPackLoading || _shared.loading">
                    </tnz-input>
                </div>
            </ng-template>
        </smd-datatable-column>
        <smd-datatable-column title="Order Qty" field="soOrderQty" sortable="false" [filterable]="false" >
            <ng-template let-model="data" let-index="index">
                <span>{{model.soOrderQty}}</span>
            </ng-template>
        </smd-datatable-column>
       </smd-datatable>
    </span>
    <span *ngIf = "addType == 1 && TempformData && TempformData.length > 0">
        <table class="ratio-table">
            <tr class="ratio-tr">
                <th style = "background: linear-gradient(
                    to top right,
                    #ccc7d3 calc(50% - 1px),
                    #000a,
                    #ccc7d3 calc(49% + 1px)
                  );" class="ratio-th">
                    <span style="position: relative;top: 5px; left: -50px">Color/Inseam</span>
                    <span style="position: relative;bottom: 5px;">Size</span>
                </th>
                <th class="ratio-th" *ngFor="let size of sizeArray">
                    {{size.sizeValue}}
                </th>
            </tr>
            <tr *ngFor="let ratio of TempformData; let i = index" class="ratio-tr">
                <td *ngIf="ratio.color != 'Color'">
                    {{ratio.colorValue}}
                </td>
                <td *ngFor="let s of ratio.size; let y = index">
                    <tnz-input *ngIf="s.sizeValue" [path]="_shared.getRatioPackDetailsPath(i,s.sizeValue)" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData['ratioPack']"
                    validators="min:0" [isEdit]="true" (valueChanged)="ratioValueChanged($event,i,y)" class="tnz-input-inside-table"></tnz-input>
                </td>
            </tr>
        </table>
       
    </span> 
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-filler"></span>
  <button mat-button color="warn" (click)="close(true)">
    Add
  </button>
  <button mat-button color="accent" (click)="close(false)">
    Cancel
  </button>
</mat-dialog-actions>
