<div class="group">
    <h4>General</h4>
<ul style="margin-left: -20px;">
        <li>
            <label>Customer</label>
            <div class="val">
                <tnz-input [path]="_shared.getHeaderAttrPath('partnerName')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData"  validators="required" [isEdit]="getIfEditable('partnerName')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)">
                </tnz-input>
            </div>
        </li>
        <li>
            <label>SO</label>
            <div class="val">
                <tnz-input [path]="_shared.getHeaderAttrPath('so')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData"  validators="required" [isEdit]="getIfEditable('so')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <li>
            <label>Style</label>
            <div class="val">
                <tnz-input  [path]="_shared.getHeaderAttrPath('style')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                    validators="required" [isEdit]="getIfEditable('style')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
        <br>
        <li>
            <label>Delivery</label>
            <div class="val">
                <tnz-input type="date" [path]="_shared.getHeaderAttrPath('delivery')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('delivery')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <li>
            <label>Order Qty</label>
            <div class="val">
                <tnz-input type="number" [path]="_shared.getHeaderAttrPath('orderQnty')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('orderQnty')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <li>
            <label>Packed Qty</label>
            <div class="val">
                <tnz-input type="number" [path]="_shared.getHeaderAttrPath('packedQnty')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('packedQnty')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <br>
        <li>
            <label>Total Packs</label>
            <div class="val">
                <tnz-input [path]="_shared.getHeaderAttrPath('totalPackQty')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('totalPackQty')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <li>
            <label>Carton</label>
            <div class="val">
                <tnz-input type="number" [path]="_shared.getHeaderAttrPath('cartons')" [primaryKey]="_shared.primaryKey" 
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('cartons')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
    
    </ul>
</div>
<div class="group">
    <h4>Description</h4>
    <ul>
        <li>
            <div class="val">
                <tnz-input type="textarea" [path]="_shared.getHeaderAttrPath('description')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                    [isEdit]="getIfEditable('description')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
    </ul>
</div>