<div class="details">
    <div>
        <perfect-scrollbar>
            <app-routing-header></app-routing-header>
            <app-routing-card collapsibleComponent></app-routing-card>
        </perfect-scrollbar>
    </div>
    <div class="line-details">
        <div style="display: flex">
            <span class="flex-filler"></span>
            <div class="form-nav">
                <span class="doc-contributors"> Created by {{_shared.formData.header?.createdByName}} on {{_shared.formData.header?.creationDate}}, Modified by {{_shared.formData.header?.lastUpdateByName}}
                    on {{_shared.formData.header?.lastUpdateDate}}</span>
                <form-nav [apiUrl]="'/routing/cut-panels/navigation/' + _shared.id" navUrl="/routing-cut-panels" [params]="_shared.params"></form-nav>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Cut Panels">
                <perfect-scrollbar>
                    <div class="group">
                        <div class="group-header">
                            <h3>Cut Panels</h3>
                            <span class="flex-filler"></span>
                            <div style="display:flex" *ngIf="_shared.getCutPanelDetailsEditable()">
                                <button mat-button matTooltip="delete line">
                                    <mat-icon class="mat-color-danger" (click)="deleteLine('cutPanelDetails')">delete</mat-icon>
                                </button>
                                <button mat-button matTooltip="add line">
                                    <mat-icon class="mat-color-info" (click)="_shared.addLine('cutPanelDetails')">add_box</mat-icon>
                                </button>
                            </div>
                        </div>
                        <app-cut-panels></app-cut-panels>
                    </div>
                </perfect-scrollbar>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>