<div class="details">
    <div>
        <perfect-scrollbar>
            <app-routing-header></app-routing-header>
            <app-routing-card collapsibleComponent></app-routing-card>
        </perfect-scrollbar>
    </div>
    <div class="line-details">
        <div style="display: flex">
            <span class="flex-filler"></span>
            <div class="form-nav">
                <span class="doc-contributors"> Created by {{_shared.formData.header?.createdByName}} on {{_shared.formData.header?.creationDate}}, Modified by {{_shared.formData.header?.lastUpdateByName}}
                    on {{_shared.formData.header?.lastUpdateDate}}</span>
                <form-nav [apiUrl]="'/routing/cut-panels/navigation/' + _shared.id" navUrl="/routing-cut-panels" [params]="_shared.params"></form-nav>
            </div>
        </div>
        <mat-tab-group>
            <mat-tab label="Cut Panels">
                    <div class="group">
                        <app-cut-panels></app-cut-panels>
                    </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>