<span *ngIf="loading" [class.dummy-progress]="loading"></span>
    <ng-container *ngIf="!loading && !isEdit && !disable">
        <span class="value" *ngIf="type != 'checkbox'" [matTooltip]="alert" [ngClass]="{status:true, numeric: type=='number'}"
         >{{displayValue}}</span>
        <mat-checkbox *ngIf="type == 'checkbox'" [ngModel]="checked" disabled></mat-checkbox>
    </ng-container>
    <ng-container *ngIf="!loading && !isEdit && disable">
         <input [value]="displayValue" [matTooltip]="alert" [disabled]="disable"/>
    </ng-container>
    <ng-container *ngIf="!loading && isEdit">

        <input #Element [id]="path" *ngIf="type == 'text' " [value]="value"  [type]="dataType" (change)="onValueChange($event)" [matTooltip]="alert"
               [ngClass]="status" (keyup.ENTER)="handleKeyboadEnter($event)" (keyup.shift.ENTER)="handleKeyboadEnter($event)"
               (focus)="$event.target.select()"/>

        <input #Element [id]="path" *ngIf="type == 'mask'" [value]="value"   [mask]="maskInput"  type="text" (change)="onValueChange($event)" [matTooltip]="alert"
               [ngClass]="status" (keyup.ENTER)="handleKeyboadEnter($event)" (keyup.shift.ENTER)="handleKeyboadEnter($event)"
               (focus)="$event.target.select()"/>

        <input #Element [id]="path" *ngIf="type == 'number'" [value]="value" [decimals]="decimals" numeric type="text" (change)="onValueChange($event)" [matTooltip]="alert"
        [ngClass]="status" (keyup.ENTER)="handleKeyboadEnter($event)" (keyup.shift.ENTER)="handleKeyboadEnter($event)" 
         (focus)="$event.target.select()" class="numeric"/>

    <ng-container *ngIf="type == 'lov'">
        <input #Element [id]="path" [value]="displayValue" [type]="dataType" [matAutocomplete]="autoComplete" (focus)="resetAutoComplete($event)"
            (click)="resetAutoComplete($event)" (keyup)="resetAutoComplete($event)" [matTooltip]="alert" [ngClass]="status" 
             (focus)="$event.target.select()"/>
        <mat-icon (click)="openLOV()" class="suffix">search</mat-icon>
        <mat-autocomplete #autoComplete="matAutocomplete" [displayWith]="autoCompleteDisplayFn.bind(this)" (optionSelected)='setLovValue($event.option.value)'>
            <mat-option *ngFor="let option of autoCompleteOptions" [value]="option">
                {{ option[displayKey] }}
            </mat-option>
        </mat-autocomplete>
    </ng-container>

    <mat-checkbox #Element *ngIf="type == 'checkbox'" [(ngModel)]="checked" (change)="onValueChange($event)" [matTooltip]="alert"
        [ngClass]="status"></mat-checkbox>

    <select #Element *ngIf="type == 'select'" [value]="value" (change)="onValueChange($event)" [matTooltip]="alert" [ngClass]="status">
        <option value="" [disabled]="!nullable" selected>-- select --</option>
        <option *ngFor="let op of selectOptions" [value]="op[returnKey]" [selected]="op[returnKey]==value">{{op[displayKey]}}</option>
    </select>

    <ng-container *ngIf="type == 'date'">
        <input #Element [value]="value" [matDatepicker]="picker" (dateChange)="onValueChange($event)" [matTooltip]="alert" [ngClass]="status"
         (focus)="$event.target.select()">
        <mat-datepicker-toggle [for]="picker" class="suffix">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </ng-container>

    <ng-container *ngIf="type == 'radio'">
        <mat-radio-group class ="small-radio" [value]="value" (change)="onValueChange($event)" aria-label="Select an option">
            <mat-radio-button *ngFor="let op of selectOptions" [value]="op[returnKey]">{{op[displayKey]}}</mat-radio-button>
        </mat-radio-group>
    </ng-container> 

    <button mat-stroked-button #Element *ngIf="type == 'lov-button'" (click)="openLOV()">{{title}}</button>

    <textarea #Element *ngIf="type == 'textarea'" [value]="value" (change)="onValueChange($event)" [matTooltip]="alert" [ngClass]="status"
        (keyup.ENTER)="handleKeyboadEnter($event)" (keyup.shift.ENTER)="handleKeyboadEnter($event)" (focus)="$event.target.select()">{{value}}</textarea>
</ng-container>
