<div class="doc-title slice">
    <div>
        <tnz-input class="doc-num" [value]="_shared.getHeaderAttributeValue('documentNo') || '###'" 
        [loading]="_shared.loading" [sharedData]="_shared.formData"></tnz-input>
        <div class="doc-status-button" [ngStyle]="{'color':_shared.getHeaderAttributeValue('docStatusColor'), 'background-color':_shared.getHeaderAttributeValue('docStatusColor') + '2e', 'border-color':_shared.getHeaderAttributeValue('docStatusColor')}">
            <tnz-input [value]="_shared.getHeaderAttributeValue('docStatusTR') || ''" [loading]="_shared.loading" [sharedData]="_shared.formData"></tnz-input>
        </div>
    </div>
    <div>
            <tnz-input class="doc-name" type="select" [path]="_shared.getHeaderAttrPath('docTypeId')" [primaryKey]="_shared.primaryKey"
            [sharedData]="_shared.formData" [lovConfig]="docTypeLov" validators="required" [loading]="_shared.loading" [isEdit]="_shared.getHeaderEditable('docTypeId', _shared.id)"
            setters="docStatus,docStatusTR" (valueChanged)="valueChanged($event)"></tnz-input>
        <tnz-input [value]="'v' + (_shared.getHeaderAttributeValue('RevisionNo') || 1)" [loading]="_shared.loading">
        </tnz-input>
    </div>
</div>