<div class="group">
    <h4>General</h4>
    <ul>
        <li>
            <label>Style</label>
            <div class="val">
                <tnz-input type="lov" [lovConfig]="styleLov" [path]="_shared.getHeaderAttrPath('style')" [primaryKey]="_shared.primaryKey"
                           [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('style')" [loading]="_shared.headerLoading || _shared.loading"
                           (valueChangedFromUI)="valueChangedFromUI($event)" >
                </tnz-input>
            </div>
        </li>
        <li>
            <label>Facility</label>
            <div class="val">
                <tnz-input type="lov" [lovConfig]="facilityLov" [path]="_shared.getHeaderAttrPath('facility')" [primaryKey]="_shared.primaryKey" displayKey="label"
                           [sharedData]="_shared.formData" [isEdit]="getIfEditable('facility')"
                           [loading]="_shared.headerLoading || _shared.loading" >
                </tnz-input>
            </div>
        </li>
        <li>
            <label>Name</label>
            <div class="val">
                <tnz-input type="text" [path]="_shared.getHeaderAttrPath('name')" [primaryKey]="_shared.primaryKey" displayKey="label"
                           [sharedData]="_shared.formData"  validators="required,length:60" [isEdit]="getIfEditable('name')"
                           [loading]="_shared.headerLoading || _shared.loading" >
                </tnz-input>
            </div>
        </li>
        <li>
            <label>SMV</label>
            <div class="val">
                <tnz-input type="text" [path]="_shared.getHeaderAttrPath('smv')" [primaryKey]="_shared.primaryKey" displayKey="label"
                           [sharedData]="_shared.formData"
                           [loading]="_shared.headerLoading || _shared.loading" >
                </tnz-input>
            </div>
        </li>
    </ul>
</div>
<div class="group">
    <h4>Description</h4>
    <ul>
        <li>
            <div class="val">
                <tnz-input type="textarea" [path]="_shared.getHeaderAttrPath('description')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                           validators="length:60" [isEdit]="getIfEditable('description')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
    </ul>
</div>
