<smd-datatable [tableId]="_shared.appKey + '.embeddedURLUsers'" [paginated]="!_shared.getEmbeddedURLUsersEditable()"
    [loading]="_shared.embeddedURLUsersLoading" class="tnz-input-table"
    [sortEnabled]="!_shared.getEmbeddedURLUsersEditable()"
    (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()"
    [showCheckBox]="_shared.getEmbeddedURLUsersEditable()" [inputPath]="_shared.embeddedURLUsersPath"
    [primaryKey]="_shared.embeddedURLUsersPrimaryKey">

    <smd-datatable-column title=" " field=" " *ngIf="_shared.getEmbeddedURLUsersEditable()"
        [colStyle]="{'width':'10px'}">
        <ng-template let-model="data" let-index="index">
            <div class="row-operations">
                <mat-icon class="mat-color-danger" matTooltip="delete line" (click)="deleteLine(index,model)">delete
                </mat-icon>
            </div>
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="#" field=" " [sortable]="false" [filterable]="false" [colStyle]="{'width':'15px'}">
        <ng-template let-index="index">
            {{index+1}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="User" field="user" sortable="true" [filterable]="true" [colStyle]="{'width':'120px'}">
        <ng-template let-model="data">
            {{model.user?model.user:""}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Menu" field="taskflow" sortable="true" [filterable]="true">
        <ng-template let-model="data" let-index="index">

            <span *ngIf="!_shared.getEmbeddedURLUsersEditable('taskflowId')">
                {{model.taskflow}}
            </span>

            <div *ngIf="_shared.getEmbeddedURLUsersEditable('taskflowId')">
                <tnz-input type="select" [path]="_shared.getEmbeddedURLUsersPath(index,'taskflowId')"
                    [primaryKey]="_shared.embeddedURLUsersPrimaryKey" displayKey="taskFlowName" returnKey="taskFlowId"
                    [sharedData]="_shared.formData" [lovConfig]="taskflowLov"
                    [isEdit]="getIfEditable(index,'taskflowId')"
                    [loading]="_shared.embeddedURLUsersLoading || _shared.loading"
                    (valueChanged)="checkDuplicate($event,model,index)">
                </tnz-input>
            </div>

        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Location" field="location" sortable="true" [filterable]="true">
        <ng-template let-model="data" let-index="index">
            <span *ngIf="!_shared.getEmbeddedURLUsersEditable('location')">
                {{model.location}}
            </span>
            <div *ngIf="_shared.getEmbeddedURLUsersEditable('location')">

                <tnz-input type="select" [path]="_shared.getEmbeddedURLUsersPath(index,'location')"
                    [primaryKey]="_shared.embeddedURLUsersPrimaryKey" [lovConfig]="locationLov"
                    [sharedData]="_shared.formData" [isEdit]="getIfEditable(index,'location')"
                    [loading]="_shared.embeddedURLUsersLoading || _shared.loading"
                    (valueChanged)="checkDuplicate($event,model,index)">

                </tnz-input>
            </div>
        </ng-template>
    </smd-datatable-column>

    <smd-datatable-column title="Default" field="default" sortable="true" [filterable]="true"
        [colStyle]="{'width':'10px'}">
        <ng-template let-model="data" let-index="index">
            <div class="checkbox-center-align" *ngIf="!_shared.getEmbeddedURLUsersEditable('default')">
                <mat-icon *ngIf="model.default=='Y'" class="default-icon"
                    matTooltip="Active">check_circle</mat-icon>
              
            </div>
            <div class="checkbox-center-align" *ngIf="_shared.getEmbeddedURLUsersEditable('default')">
                <tnz-input type="checkbox" [path]="_shared.getEmbeddedURLUsersPath(index,'default')"
                    [primaryKey]="_shared.embeddedURLUsersPrimaryKey" [sharedData]="_shared.formData"
                    [isEdit]="getIfEditable(index,'default')"
                    [loading]="_shared.embeddedURLUsersLoading || _shared.loading"
                    (valueChanged)="checkDefaultURL($event,model,index)">
                </tnz-input>
            </div>
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Active" field="active" sortable="true" [filterable]="true"
        [colStyle]="{'width':'10px'}">
        <ng-template let-model="data" let-index="index">
            <div class="checkbox-center-align" *ngIf="!_shared.getEmbeddedURLUsersEditable('active')">
                <mat-icon *ngIf="model.active=='Y'" class="active-icon"
                    matTooltip="Active">check_circle</mat-icon>
                <mat-icon *ngIf="model.active!='Y'" class="inactive-icon"
                    matTooltip="Inactive">cancel</mat-icon>
            </div>
            <div class="checkbox-center-align" *ngIf="_shared.getEmbeddedURLUsersEditable('active')">
                <tnz-input type="checkbox" [path]="_shared.getEmbeddedURLUsersPath(index,'active')"
                    [primaryKey]="_shared.embeddedURLUsersPrimaryKey" [sharedData]="_shared.formData"
                    [isEdit]="getIfEditable(index,'active')"
                    [loading]="_shared.embeddedURLUsersLoading || _shared.loading">
                </tnz-input>
            </div>
        </ng-template>
    </smd-datatable-column>

    <smd-datatable-column title="Created By" field="createdByUser" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.createdByUser}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Created Date" field="creationDateTr" sortable="true" sortField="creationDate"
        [filterable]="true">
        <ng-template let-model="data">
            {{model.creationDateTr}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Updated By" field="modifiedByUser" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.modifiedByUser}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Updated Date" field="lastUpdateDateTr" sortable="true" sortField="lastUpdateDate"
        [filterable]="true">
        <ng-template let-model="data">
            {{model.lastUpdateDateTr}}
        </ng-template>
    </smd-datatable-column>
</smd-datatable>