<div class="doc-title slice">
    <div>
        <tnz-input class="doc-num" [value]="_shared.getHeaderAttributeValue('documentNo') || '###'"
                   [loading]="_shared.loading" [sharedData]="_shared.formData"></tnz-input>
        <div class="doc-status-button" [ngStyle]="{'color':_shared.getHeaderAttributeValue('docStatusColor'), 'background-color':_shared.getHeaderAttributeValue('docStatusColor') + '2e', 'border-color':_shared.getHeaderAttributeValue('docStatusColor')}">
            {{_shared.getHeaderAttributeValue('docStatusName') || 'Draft'}}</div>
    </div>
    <div style="display: flex;  justify-content:space-between  ">
        <tnz-input  *ngIf="this._shared.id == 0"  class="doc-name" type="select" [path]="_shared.getHeaderAttrPath('docType')" [primaryKey]="_shared.primaryKey"
                   [sharedData]="_shared.formData" [lovConfig]="docTypeLov"  [lovFilter]="lovFilter" validators="required" [loading]="_shared.loading" [isEdit]="_shared.getHeaderEditable('docType', _shared.id)"
                   (valueChanged)="valueChanged($event)">
        </tnz-input>
        <div style="margin-left: 5px" *ngIf="this._shared.id != 0"> {{_shared.getHeaderAttributeValue('documentTypeFTR') || 'Draft'}}</div>
        <tnz-input [value]="'v' + (_shared.getHeaderAttributeValue('revisionNo') || 1)" [loading]="_shared.loading">
        </tnz-input>
    </div>
</div>
