:host {
    display: block;
    margin: -24px;
    .title {
      display: block;
      padding: 8px;
      font-size: 15px;
      font-weight: bold;
    }
    mat-dialog-content {
      margin: 0;
      padding: 0;
      smd-datatable {
        height: 65vh;
      }
    }
    mat-dialog-actions {
      padding: 12px 24px;
      min-height: 24px;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 4px;
      line-height: 21px;
  
      li {
        display: flex;
        padding: 5px 24px;
  
        &:hover {
          background: rgba(0, 0, 0, 0.06);
        }
  
        >label {
          min-width: 60px;
          max-width: 60px;
          padding-right: 4px;
          text-align: right;
          border-right: 1px solid #ccc;
          font-weight: 700;
          color: grey;
        }
  
        .val {
          display: flex;
          flex: 1;
          align-items: center;
  
          tnz-input {
            display: flex;
            flex: 1;
            margin-left: 4px;
          }
  
        }
      }
    }
}