<h2 class="title">Copy User Workcenter Mapping</h2>
<mat-dialog-content>
    <ul>
        <li>
            <label>From User</label>
            <div class="val">
                <tnz-input type="lov" [lovConfig]="CopyFromUserLov" validators="required" [isEdit]="true"
                [path]="_shared.getuserPath('fromuser')">
                </tnz-input>
            </div>
        </li>
        <li>
            <label>New User</label>
            <div class="val">
                <tnz-input type="lov" [lovConfig]="UserLov" validators="required" [isEdit]="true"            
                    [path]="_shared.getuserPath('newuser')">
                </tnz-input>
            </div>
        </li>
    </ul>

</mat-dialog-content>
<mat-dialog-actions>
    <span class="flex-filler"></span>
    <button mat-button color="warn" (click)="Add()">
        Confirm
    </button>
    <button mat-button mat-dialog-close color="accent">
        Cancel
    </button>
</mat-dialog-actions>