<div class="group">
    <h4>Add New Operation</h4>
    <ul>
        <li>
            <label>Name</label>
            <div class="val">
                <tnz-input [isEdit]="true" [path]="_shared.getOperationGroupPath('opName')"
                           (valueChangedFromUI)="valueChangedFromUI($event)" validators="required"></tnz-input>
            </div>
        </li>
        <li>
            <label>Code</label>
            <div class="val">
                <tnz-input [isEdit]="true" [path]="_shared.getOperationGroupPath('shortCode')"
                           (valueChangedFromUI)="valueChangedFromUI($event)" validators="required"></tnz-input>
            </div>
        </li>
        <li>
            <label>Description</label>
            <div class="val">
                <tnz-input [isEdit]="true" [path]="_shared.getOperationGroupPath('description')"
                           (valueChangedFromUI)="valueChangedFromUI($event)"></tnz-input>
            </div>
        </li>
    </ul>
</div>
<mat-dialog-actions>
    <span class="flex-filler"></span>
    <button mat-raised-button color="accent" (click)="save()">Save</button>
    <button mat-button mat-dialog-close color="accent">Cancel</button>
</mat-dialog-actions>
