<smd-datatable [tableId]="_shared.appKey + '.prodlist'" [paginated]="true" [loading]="_shared.cutBundleLoading" class="tnz-input-table">
	<smd-datatable-column title="#" field="displayOrder" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Ref. Doc#" field="refDocNo" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Product#" field="refProduct" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Kit" field="kit" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Product Attr." field="prdAttribute" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Lot#." field="lotNum" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Sl#" field="slNum" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Shade" field="shade" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Lay#" field="layNo" sortable="true" [filterable]="true">
	</smd-datatable-column>
	<smd-datatable-column title="Cut#" field="cutNo" sortable="true" [filterable]="true">
	</smd-datatable-column>
		<smd-datatable-column title="Bundle#" field="bundleNo" sortable="true" [filterable]="true">
	</smd-datatable-column>
		<smd-datatable-column title="From Ply." field="feomPly" sortable="true" [filterable]="true">
	</smd-datatable-column>
		<smd-datatable-column title="To PLy." field="toPly" sortable="true" [filterable]="true">
	</smd-datatable-column>
		<smd-datatable-column title="Bundle Qty." field="bundleQty" sortable="true" [filterable]="true">
	</smd-datatable-column>
</smd-datatable>