
<button mat-button routerLink="/scheduler/general" (click)="closeGadget()" matTooltip="scheduler" class="sm-hidden">
  <mat-icon class="mat-icon-medium"> scheduler </mat-icon>
</button>

<button mat-button (click)="showDownloads()" #downloadsBtn matTooltip="downloads">
  <mat-icon> file_download </mat-icon>
</button>

<button mat-button (click)="showUserSettings()" #settingsBtn matTooltip="settings">
  <mat-icon class="mat-icon-medium"> settings </mat-icon>
</button>

<button mat-button (click)="showUserMenu()" #usermenuBtn matTooltip="user menu">
  <img class="mat-icon-button-image" pImage [imageUrl]="'/images/users/'+ currentUser.userId">
</button>
