<mat-card class="input-card">
    <mat-toolbar mat-card-image style="background: #5f5175; color: white" class="uf-toolbar">
        <a [href]="templateUrl" *ngIf="templateUrl"  matTooltip="Download template" style="color: white;  position: absolute;
    top: 8px;
    right: 8px;">
            <mat-icon>cloud_download</mat-icon>
        </a>
        <div class="uf-title">
            <mat-icon>cloud_upload</mat-icon>
            <span><strong>Up</strong>load</span>
        </div>

    </mat-toolbar>
    <mat-dialog-content class="uf-dialog-content" [class.component-loading]="loading">
        <ng-container *ngIf="!showCustomTemplate">
            <mat-icon class="uf-default-image" *ngIf="fileUploaded" style="color: #53BE65;">insert_drive_file</mat-icon>
            <mat-icon class="uf-default-image" *ngIf="!fileUploaded">insert_drive_file</mat-icon>
            <div class="file-upload">
                <input class="uf-inputfile" #fileInput id="uf-custom-input" type="file" [multiple]="multiple"
                       (change)="fileChanged()"/>
                <label for="uf-custom-input" *ngIf="!fileUploaded" class="uf-image-label"><u>Browse</u> to begin the
                    upload</label>
                <br><label for="uf-custom-input" *ngIf="!fileUploaded && fileFormat === 'CSV'" class="uf-image-label">Expected
                file format: .csv</label>
                <label for="uf-custom-input" *ngIf="fileUploaded" class="uf-image-label">Update <u>selected</u> file(s)</label>
            </div>
        </ng-container>
        <ng-container *ngIf="showCustomTemplate">
            <ng-container *ngTemplateOutlet="customtemplate"></ng-container>
        </ng-container>

    </mat-dialog-content>
    <mat-dialog-actions>

        <span class="flex-filler"></span>
        <button mat-button mat-dialog-close aria-label="Cancel">Cancel</button>
        <button *ngIf="!showCustomTemplate && fileUploaded && !loading" mat-raised-button aria-label="Done"
                (click)="upload()">Done
        </button>
    </mat-dialog-actions>
</mat-card>
