:host {
    display: flex;
    align-items: center;
    place-content: center;
    height: 100%;
    .content {
        display: flex;
        flex-direction: column;
        place-content: center;
        align-items: center;
        width: 90%;
        max-width: 512px !important;
        .error-code {
            font-size: 112px;
            text-align: center;
            line-height: 1;
            margin-bottom: 16px;
            font-weight: 500;
            color: rgba(0, 0, 0, .87);
        }
        .message {
            font-size: 24px;
            text-align: center;
            color: rgba(0, 0, 0, .54);
        }
        .search {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            max-height: 100%;
            place-content: center flex-start;
            align-items: center;
            width: 100%;
            height: 56px;
            line-height: 56px;
            margin: 48px auto 16px;
            padding: 16px;
            background: #fff;
            -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            mat-icon {
                color: rgba(0, 0, 0, .54);
            }
            input {
                flex: 1 1 auto;
                padding: 0 0 0 16px;
                box-sizing: border-box;
                outline: none;
                border: 0;
            }
        }
    }
}