<div>
    <perfect-scrollbar>
        <smd-datatable [dataUrl]="_shared.apiBase" dataHeader="lookups" (onRowSelected)="rowSelected($event)" [primaryListing]="false"
        (dataChange)="_onDataChange($event)" (pageChange)="pageChanged($event)" [rowCount]="_shared.count" [selectedPage]="_shared.selectedPage">
            <smd-datatable-column title="Lookup Type" field="lookupType" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.lookupType}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Application" field="applicationName" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.applicationName?.label}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Access Level" field="accessLevelText" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.accessLevelText}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Description" field="description" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.description}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Created By" field="createdByUser" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.createdByUser}} 
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Created Date" field="creationDateTr" sortable="true" sortField="creationDate" [filterable]="true">
                <ng-template let-model="data">
                    {{model.creationDateTr}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Updated By" field="lastUpdatedByUser" sortable="true" [filterable]="true">
                <ng-template let-model="data">
                    {{model.lastUpdatedByUser}}
                </ng-template>
            </smd-datatable-column>
            <smd-datatable-column title="Updated Date" field="lastUpdateDateTr" sortable="true" sortField="lastUpdateDate" [filterable]="true">
                <ng-template let-model="data">
                    {{model.lastUpdateDateTr}}
                </ng-template>
            </smd-datatable-column>
        </smd-datatable>
    </perfect-scrollbar>
</div>