.cron-editor-main .cron-editor-container {
  margin-top: 10px;
}

.cron-editor-main .cron-editor-container .cron-editor-radio {
  width: 20px;
  display: inline-block;
  cursor:pointer;
}

.cron-editor-main .cron-editor-container .cron-editor-select,
.cron-editor-main .cron-editor-container .cron-editor-input,
.cron-editor-main .cron-editor-container .cron-editor-checkbox {
  display: inline-block;
  margin-bottom:10px;
  border-radius: 35px;
  border-color: gray;
  color: gray;
  cursor:pointer;
}

.cron-editor-main .cron-editor-container .well-time-wrapper {
  padding-left: 20px;
}

.cron-editor-main .cron-editor-container .inline-block {
  display: inline-block;
}

.cron-editor-main .cron-editor-container .minutes,
.cron-editor-main .cron-editor-container .hours,
.cron-editor-main .cron-editor-container .days,
.cron-editor-main .cron-editor-container .seconds {
  width: 70px;
}

.cron-editor-main .cron-editor-container .months {
  width: 120px;
}

.cron-editor-main .cron-editor-container .month-days {
  width: 130px;
}

.cron-editor-main .cron-editor-container .months-small {
  width: 60px;
}

.cron-editor-main .cron-editor-container .day-order-in-month {
  width: 95px;
}

.cron-editor-main .cron-editor-container .week-days {
  width: 120px;
}

.cron-editor-main .cron-editor-container .advanced-cron-editor-input {
  width: 200px;
}

.cron-editor-main .cron-editor-container .hour-types {
  width: 70px;
}

.nav-tabs li a {
  cursor: pointer;
}
.row{
  margin-bottom:10px;
  
}

.cron-editor-main .cron-editor-container .tab-content .tab-pane {
            display: none;
}
.cron-editor-main .cron-editor-container .tab-content .active{
            display: block;
}
    
.well {
        min-height: 20px!important;
        padding: 19px 19px 19px 19px!important;
        margin-bottom: 20px!important;
        background-color: #f5f5f5!important;
        border: 1px solid #e3e3e3!important;
        border-radius: 4px!important;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05)!important;
}


.cron-editor-main .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.cron-editor-main li a{
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
}
.cron-editor-main .nav {
    display:flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.cron-editor-main .nav .active{
                color: #555;
                cursor: default;
                background-color: #fff;
                padding: 4px 8px;
                border: 1px solid #ddd;
                border-bottom-color: transparent;
}
.cron-editor-main .nav li{
        float: left;
        margin-bottom: -1px;
        padding: 4px 8px;
        position: relative;
}       
.cron-editor-main .nav li a{
            padding: 10px 15px;
            color: #337ab7;
             text-decoration: none;
}

@media only screen and (max-width: 950px){
  .cron-editor-main .nav li a{
    padding:0px;
  }
}
@media only screen and (max-width: 685px){
  .cron-editor-main .nav li {
    padding:4px 4px;
    font-size:12px 
  }
  .cron-editor-main .nav .active{
    padding:4px 4px;
    font-size:12px
  }
}

