<div style="width:fit-content; margin-top: 10px;">
    <div style="display: flex;">
        <h3>Ratio</h3>
        <span class="top-bar">
            <span class="label-value">Pack#</span> 
            <span style="width: 40px;">
                <span class="data-value">{{sequence}}</span>
                <!-- <tnz-input  type="number" [path]="_shared.getRatioHeaderFromKey(mainIndex,'sequence')" [primaryKey]="_shared.packsDetailsPrimaryKey" 
                            [sharedData]="_shared.formData['packsDetails'].grpKey" validators="min:0" [isEdit]="false"
                            [loading]="_shared.packsDetailsLoading || _shared.loading" >
                </tnz-input> -->
            </span>
        </span>
        <span class="flex-filler"></span>
        <span style="display: flex; margin-bottom: 2px;">
            <span style="display: flex; margin-left: 10px; margin-bottom: 8px">
                <label class="label-class">No. of CTN </label>
                <div [ngClass]="(!_shared.getPacksDetailsEditable()) ? 'data-box box' : 'data-box-edit'">
                    <span class="data-value" *ngIf="!_shared.getPacksDetailsEditable()" >{{formData.noOfCartons}}</span>
                    <tnz-input *ngIf="_shared.getPacksDetailsEditable()" type="number" [path]="_shared.getRatioHeaderFromKey(mainIndex,'noOfCartons')" [primaryKey]="_shared.packsDetailsPrimaryKey" 
                        [sharedData]="_shared.formData['packsDetails'].grpKey" validators="min:1" [isEdit]="_shared.getPacksDetailsEditable() && !_shared.isCartonGenerated"
                        [loading]="_shared.packsDetailsLoading || _shared.loading" (valueChanged)="valuechanged($event,'noOfCartons')" [disable]="_shared.isCartonGenerated"
                        [ngStyle]="{'pointer-events': _shared.isCartonGenerated ? 'none' : 'auto' }" class="tnz-input-center-align"></tnz-input>
                </div>
            </span>
            <span style="display: flex; margin: 1px 0px 5px 10px;" *ngIf="_shared.getPacksDetailsEditable()">
                <button mat-button matTooltip="Delete line" style="margin-top: 5px;">
                    <mat-icon class="mat-color-danger" (click)="deleteRatioLine(mainIndex)">delete</mat-icon>
                </button>
            </span>
        </span>
    </div>
    <mat-dialog-content>
    
        <table [ngStyle]="{'width': sizeArray.length > 7 ? '100%' : ''}">
            <tr class="ratio-tr">
                <th style = "background: linear-gradient(
                    to top right,
                    #ccc7d3 calc(50% - 1px),
                    #000a,
                    #ccc7d3 calc(49% + 1px)
                ); width: 15vw;" class="ratio-th">
                    <span class="gradient-bottom">Color/Inseam</span>
                    <span class="gradient-top">Size</span>
                </th>
                <th class="ratio-th abc" *ngFor="let size of sizeArray"> 
                    {{size}}
                </th>
            </tr>
            <tr *ngFor="let ratio of formData.color; let i = index" class="ratio-tr">
                <td *ngIf="ratio.name != 'Color'" style="padding-left: 5px;" class="abc" >
                    {{ratio.name}}
                </td>
                <td *ngFor="let s of ratio.size" style="text-align: center;" >
                    {{s.value}}
                </td>
            </tr>
        </table>
    </mat-dialog-content>
    <div style="display: flex;">
        <span style="display: flex; margin-top: 10px;">
            <span style="display: flex; color: #6B538B;">Packed: </span>
            <span class="data-value">{{formData.packedQty ? formData.packedQty : 0}} CTN | </span>
            <span class="data-value">{{formData.packedPcs ? formData.packedPcs : 0}} Pcs</span>
        </span>
        <span class="flex-filler"></span>
        <span style="display: flex; margin-bottom: 2px;">
            <span style="display: flex; margin-left: 10px;" *ngIf="(excess && excess != '') || _shared.isCartonGenerated">
                <label class="label-class">Excess</label>
                <div [ngClass]="(!_shared.getPacksDetailsEditable()) ? 'data-box-bottom box' : 'data-box-edit-bottom'" >
                    <span style="padding: 0px 4px; color: green;" *ngIf="!_shared.getPacksDetailsEditable() && (excess && excess != '')">+{{excess}}Ctn</span>
                    <tnz-input *ngIf="_shared.getPacksDetailsEditable()" [path]="_shared.getRatioHeaderFromKey(mainIndex,'excess')" [primaryKey]="_shared.packsDetailsPrimaryKey" 
                        [sharedData]="_shared.formData['packsDetails'].grpKey" validators="min:0" [isEdit]="_shared.getPacksDetailsEditable() && checkShortAndExcessEditable('short')"
                        [loading]="_shared.packsDetailsLoading || _shared.loading" [disable]="true"
                        [ngStyle]="{'pointer-events': !checkShortAndExcessEditable('short') ? 'none' : 'auto' }" class="tnz-input-center-align tnz-input-green"></tnz-input>
                </div>
            </span>
            <span style="display: flex; margin-left: 15px;" *ngIf="(short && short != '') || _shared.isCartonGenerated">
                <label class="label-class">Short</label>
                <div [ngClass]="(!_shared.getPacksDetailsEditable()) ? 'data-box-bottom box' : 'data-box-edit-bottom'">
                    <span style="padding: 0px 4px; color: red;" *ngIf="!_shared.getPacksDetailsEditable() && (short && short != '')">-{{short}} Ctn</span>
                    <tnz-input *ngIf="_shared.getPacksDetailsEditable()"  [path]="_shared.getRatioHeaderFromKey(mainIndex,'short')" [primaryKey]="_shared.packsDetailsPrimaryKey" 
                        [sharedData]="_shared.formData['packsDetails'].grpKey" validators="min:0" [isEdit]="_shared.getPacksDetailsEditable() && checkShortAndExcessEditable('excess')"
                        [loading]="_shared.packsDetailsLoading || _shared.loading" [disable]="true"
                        [ngStyle]="{'pointer-events': !checkShortAndExcessEditable('excess') ? 'none' : 'auto' }" class="tnz-input-center-align tnz-input-red"></tnz-input>
                </div>
            </span>
        </span>

    </div>
</div>
