$cell-header-bg-color: #bfbfbf;
$cell-data-color: #2f74b5;

:host {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;

  //place-content: center;
}

.pack-details {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  grid-column-gap: 10px;

  .ratio-details {
    .style-row {
      display: grid;
      grid-template-columns: auto auto;

      .size-wrapper {
        display: flex;
      }

      #ratio-header {
        background: linear-gradient(
          to top right,
          #bfbfbf calc(50% - 1px),
          #000a,
          #bfbfbf calc(49% + 1px)
        );
        display: flex;
        justify-content: space-between;
        color: black;
      }

      .color-cell,
      .size-cell {
        display: flex;
        min-height: 45px;
        place-content: center;
        place-items: center;
        border: 1px solid #999;
        margin: -1px 0 0 -1px;
        color: $cell-data-color;
      }

      .color-cell {
        min-width: 70px;
        padding: 0 10px;
      }

      .size-cell {
        min-width: 70px;
      }
    }
  }

  .pack-extra-details {
    display: flex;
    flex-wrap: wrap;

    .cell-group {
      max-width: 100px;

      .cell-key {
        background: $cell-header-bg-color;
      }
      .cell-value {
        color: $cell-data-color;
      }

      .cell-key,
      .cell-value {
        border: 1px solid #999;
        margin: -1px 0 0 -1px;
        padding: 0 10px;
        display: flex;
        min-height: 45px;

        place-content: center;
        place-items: center;
      }
    }
  }
}

.carton-group {
  display: flex;
  flex-wrap: wrap;
}

.diagonal {
  //width:25%;
  background: linear-gradient(
    to top right,
    #fff calc(50% - 1px),
    #aaa,
    #fff calc(50% + 1px)
  );
}

.ratio-th{
    min-width: 65px !important;
    // max-width: 65px !important;
    height: 35px;
}
.ratio-tr{
    height: 35px;
    
}
.ratio-td{
    min-width: 65px !important;
    // max-width: 65px !important;
    width: 5%;
    height: 35px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #bfbfbf;
  }

.label-class {
  margin-top: 12px;
  color: #6B538B;
  padding-right: 5px;
}

.data-value{
  margin-left: 3px;
  color: #6B538B;
}

.top-bar {
  display: flex; 
  margin-bottom: 2px;
  margin-top: 9px;
}

.label-value{
  display: flex;
   margin-left: 10px;
  color: #6B538B;
}

.gradient-bottom{
  position: relative;
  top: 5px; 
  left: -10%; 
  color: rgba(0, 0, 0, 0.87); 
  opacity: 0.72;
}

.gradient-top{
  position: relative;
  bottom: 5px;  
  color: rgba(0, 0, 0, 0.87); 
  opacity: 0.72;
}

.data-box {
  width: 80px;
  margin-top: 9px;
  display: inline-block;
  border: 1px solid #bfbfbf;
  text-align: center;
  margin-left: 5px;
}

.data-box-edit {
  width: 80px;
  margin-top: 9px;
}

.data-box-bottom {
  width: 80px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #bfbfbf;
  text-align: center;
  height: 20px
}

.data-box-edit-bottom {
  width: 80px;
  margin-top: 10px;
}

.box {
  line-height: 18px;
  box-sizing: border-box;
  outline-color: #cbc7d2;
  outline-style: auto;
  background: #f3f2f4;
  font-family: inherit;
}

.header{
  display: flex;
  div{
    padding-left: 10px;
    display: inline-block;
    align-self: flex-end;
    padding-bottom: 1px;
    color: #6B538B;
  }
}
