<smd-datatable [apiClass]="schedulerUtils" dataUrl="scheduler/jobs" dataHeader="jobs"
               [primaryListing]="true" (onRowSelected)="rowSelected($event)" (dataChange)="onDataChange($event)">
    <smd-datatable-column title="Status" field="tnzJobState" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            <div
                    class="smd-table-icon-wrap">
                <mat-icon *ngIf="model.tnzJobState == 'C' && model.tnzJobStatus == 'S'" class='mat-color-success'>
                    check_circle
                </mat-icon>
                <mat-icon *ngIf="model.tnzJobState == 'C' && model.tnzJobStatus == 'W'" class='mat-color-warning'>
                    warning
                </mat-icon>
                <mat-icon *ngIf="model.tnzJobState == 'R'" class='mat-color-info spinner'>camera</mat-icon>
                <mat-icon *ngIf="model.tnzJobState == 'A'" class='mat-color-danger'>error</mat-icon>
                <mat-icon *ngIf="model.tnzJobState != 'R' && model.tnzJobState != 'C' && model.tnzJobState != 'A'"
                          class='mat-color-disabled'>remove_circle
                </mat-icon>
            </div>
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Job Id" field="tnzJobId" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.tnzJobId}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Instance Id" field="tnzJobInstncId" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.tnzJobInstncId}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Job Name" field="tnzJobName" sortable="true" [filterable]="true" stretch="true">
        <ng-template let-model="data">
            {{model.tnzJobName}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Data Source" field="datasource" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.datasource}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Run By" field="submittedBy" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.submittedBy}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Start Time" field="startTime" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.startTime | date:dateUtils.dateTimeFormat}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="End Time" field="endTime" sortable="true" [filterable]="true">
        <ng-template let-model="data">
            {{model.endTime | date:dateUtils.dateTimeFormat}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Duration" field=" " sortable="false" [filterable]="false">
        <ng-template let-model="data">
            {{getDuration(model.startTime, model.endTime)}}
        </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title="Download" field="outputFileType" sortable="true" [filterable]="true">
    <ng-template let-model="data">
        <div style="display: flex">
            <button mat-raised-button matTooltip="download" color="primary"
                    (click)="downloadOutput(model.tnzJobInstncId)"
                    *ngIf="model.tnzJobStatus == 'S' && model.tnzJobState == 'C' && model.outputFileType">
                <mat-icon>file_download</mat-icon>
                {{model.outputFileType}}
            </button>
            <button mat-icon-button matTooltip="send mail" color="primary" (click)="mailOutput(model)"
                    *ngIf="model.tnzJobStatus == 'S' && model.tnzJobState == 'C' && model.outputFileType">
                <mat-icon>send</mat-icon>
            </button>
            <button mat-icon-button matTooltip="preview" color="primary" (click)="previewOutput(model)"
                    *ngIf="model.tnzJobStatus == 'S' && model.tnzJobState == 'C' && model.outputFileType == 'PDF'">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
        </div>

    </ng-template>
    </smd-datatable-column>
    <smd-datatable-column title=" " field=" " titleTooltip="edit">
        <ng-template let-model="data">
            <div style="float:right; display: flex">
                <button mat-icon-button matTooltip="re schedule" color="primary" (click)="reSchedule(model)">
                    <mat-icon>schedule</mat-icon>
                </button>
                <button mat-icon-button matTooltip="more" color="accent" (click)="showMoreInfo(model)">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <button mat-icon-button matTooltip="log" color="accent" [matMenuTriggerFor]="logMenu">
                    <mat-icon>assignment</mat-icon>
                </button>
            </div>
            <mat-menu #logMenu="matMenu">
                <button color="accent" mat-menu-item (click)="viewLog(model)">
                    <mat-icon>remove_red_eye</mat-icon>
                    View
                </button>
                <button color="accent" (click)="downloadLog(model.tnzJobInstncId)" mat-menu-item>
                    <mat-icon>file_download</mat-icon>
                    Download
                </button>
            </mat-menu>
        </ng-template>
    </smd-datatable-column>
</smd-datatable>
