<div class="group">
    <h4>General</h4>
    <ul style="margin-left: -20px;">
        <li>
            <label>Style</label>
            <div class="val">
                <tnz-input [path]="_shared.getHeaderAttrPath('productNum')" [primaryKey]="_shared.primaryKey" displayKey="label"
                    [sharedData]="_shared.formData"  validators="required" [isEdit]="getIfEditable('productFTR')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)">
                </tnz-input>
            </div>
        </li>
        <br>
        <li>
            <label>Facility</label>
            <div class="val">
                <tnz-input [path]="_shared.getHeaderAttrPath('facilityShortCode')" [primaryKey]="_shared.primaryKey" displayKey="label"
                    [sharedData]="_shared.formData"  validators="required" [isEdit]="getIfEditable('facility')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
        <li>
            <label>Name</label>
            <div class="val">
                <tnz-input  [path]="_shared.getHeaderAttrPath('routingName')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                    validators="required" [isEdit]="getIfEditable('routingName')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
        <br>
        <li>
            <label>SMV</label>
            <div class="val">
                <tnz-input  [path]="_shared.getHeaderAttrPath('smv')" [primaryKey]="_shared.primaryKey" displayKey="label"
                    [sharedData]="_shared.formData" validators="required" [isEdit]="getIfEditable('smv')"
                    [loading]="_shared.headerLoading || _shared.loading" (valueChanged)="valueChanged($event)"></tnz-input>
            </div>
        </li>
    
    </ul>
</div>
<div class="group">
    <h4>Description</h4>
    <ul>
        <li>
            <div class="val">
                <tnz-input type="textarea" [path]="_shared.getHeaderAttrPath('description')" [primaryKey]="_shared.primaryKey" [sharedData]="_shared.formData"
                    [isEdit]="getIfEditable('description')" [loading]="_shared.headerLoading || _shared.loading">
                </tnz-input>
            </div>
        </li>
    </ul>
</div>