<div class="details">
    <div>
        <perfect-scrollbar>
            <document-details></document-details>
            <general-details></general-details>
        </perfect-scrollbar>
    </div>
    <div class="line-details">
        <div style="display: flex">
            <span class="flex-filler"></span>
            <div *ngIf="!_shared.editMode" class="form-nav">
                <span class="doc-contributors">Created by {{_shared.formData.header?.createdBy}} on {{_shared.formData.header?.creationDate}}, Modified
                    by {{_shared.formData.header?.lastUpdatedBy}} on {{_shared.formData.header?.lastUpdateDate|date:dateUtils.dateMinFormat}}</span>
                <form-nav [apiUrl]="'/routing/cut-panels/navigation/' + _shared.id" navUrl="/routing" [params]="_shared.params"></form-nav>
            </div>
        </div>

        <mat-tab-group>
            <mat-tab label="Steps">
                <operations-tab></operations-tab>
            </mat-tab>
        </mat-tab-group>
    </div>


</div>
