.strength-meter-container {
  margin-top: 15px;
  width: 100%;
  font-size: 62.5%;
  display: flex;

  .strength-meter {
    width: 70%;
    align-self: center;

    .strength-meter-bar-container {
      height: 6px;
      width: 100%;
      background-color: #cfd8dc;
      border-radius: 5px;

      .strength-meter-bar {
        width: 0%;
        height: 6px;
        border-radius: 5px;
      }
    }
  }

  span {
    width: 30%;
    font-size: 1.2em;
    color: #a1a1a1;
  }
}