<div mat-dialog-title class="title-bar">
	<img
		[src]="'./assets/images/drive/doc/' + (jobData.outputFileType ? (jobData.outputFileType | lowercase) : 'code')  + '.png'">
	<div class="flex-filler">
		<span class="title flex-filler">{{jobData.tnzJobName}}</span>
		<div class="submitted-info">submitted by <b>{{jobData.submittedBy}}</b> on
			<b>{{jobData.creationDate | date:dateUtils.dateTimeFormat}}</b></div>
	</div>
	<button mat-icon-button color="accent" mat-dialog-close>
		<mat-icon>close</mat-icon>
	</button>
</div>

<mat-card class="input-card">
	<mat-dialog-content>
		<mat-form-field>
			<input matInput placeholder="To" [formControl]="to" (change)="toAddressChanged()">
			<mat-error *ngIf="to.hasError('required')">
				To is mandatory
			</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="cc" [formControl]="cc">
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="bcc" [formControl]="bcc">
		</mat-form-field>
	</mat-dialog-content>
	<mat-dialog-actions style="padding: 0px;">
		<div *ngIf="sCode=='TNZ_DEF_EMAIL_TEMP'">
			<span>*The mail will be sent with the default template</span>
		</div>
		<span class="flex-filler"></span>
		<button mat-raised-button color="primary" style="max-height: 40px;" (click)="mailOutput()" [disabled]='loading'>
			<mat-icon>send </mat-icon> Send Mail
		</button>
	</mat-dialog-actions>
</mat-card>
