<smd-datatable [tableId]="_shared.appKey + '.prodlist'" [paginated]="!_shared.getLayerDetailsEditable()" [loading]="_shared.layerDetailsLoading"
 class="tnz-input-table" (onRowSelected)="onRowSelected()" (onAllRowsSelected)="onRowSelected()"
 [showCheckBox]="_shared.getLayerDetailsEditable()" [inputPath]="_shared.layerDetailsPath"
 (onAction)=onAction($event) title="Layer Details">
<ng-container *ngIf="_shared.getLayerDetailsEditable()">
	<smd-datatable-icon-button icon="delete" key="delete" tooltip="delete line" class="mat-color-danger"></smd-datatable-icon-button>
	<smd-datatable-icon-button icon="add_box" key="add" tooltip="add line" class="mat-color-info"></smd-datatable-icon-button>
</ng-container>
	<smd-datatable-column title=" " field=" " *ngIf="_shared.getLayerDetailsEditable()" [colStyle]="{'width':'20px'}">
		<ng-template let-model="data" let-index="index">
			<div class="row-operations">
				<mat-icon class="mat-color-danger" matTooltip="delete line" (click)="_service.deleteDetailsLine('layerDetails',index,model)">delete</mat-icon>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="#" field="lineNo" sortable="true" [filterable]="true" [colStyle]="{'min-width':'45px'}" numeric="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!getIfEditable(index,'lineNo')">{{model.lineNo}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('lineNo')">
				<tnz-input type="number" [path]="_shared.getLayerDetailsPath(index,'lineNo')" [primaryKey]="_shared.layerDetailsPrimaryKey"
				 [sharedData]="_shared.formData" validators="min:0" [isEdit]="getIfEditable(index,'lineNo')" [loading]="_shared.layerDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Fabric" field="prodName" sortable="true" [filterable]="true" stretch="true">
		<ng-template let-model="data" let-index="index">
			<div [matTooltip]="model.viewAttr">
				<span *ngIf="!getIfEditable(index,'prodName')">{{model.product?.productTitleNum}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('prodName')">
					<tnz-input type="lov" [path]="_shared.getLayerDetailsPath(index,'product')" [primaryKey]="_shared.layerDetailsPrimaryKey"
					 [lovConfig]="fabricLovConfig" (valueChanged)="valueChanged($event,index)" [sharedData]="_shared.formData" validators="required"
					 [isEdit]="getIfEditable(index,'prodName')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Fabric Attributes" field="prodAttr" sortable="true" [filterable]="true" stretch="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('prodAttr')">{{model.prodAttr}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('prodAttr')">
				<tnz-input [path]="_shared.getLayerDetailsPath(index,'prodAttr')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
				 validators="min:0" [isEdit]="false" [loading]="_shared.layerDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Instance Details" field="instanceDetails">
		<smd-datatable-column title="Lot#" field="lotNo" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('lotNo')">{{model.lotNo}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('lotNo')">
					<tnz-input [path]="_shared.getLayerDetailsPath(index,'lotNo')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
					 validators="min:0" [isEdit]="getIfEditable(index,'lotNo')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		<smd-datatable-column title="Sl#" field="slNo" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('slNo')">{{model.slNo}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('slNo')">
					<tnz-input [path]="_shared.getLayerDetailsPath(index,'slNo')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
					 validators="min:0" [isEdit]="getIfEditable(index,'slNo')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		<smd-datatable-column title="Grade" field="grade" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('grade')">{{model.grade}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('grade')">
					<tnz-input [path]="_shared.getLayerDetailsPath(index,'grade')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
					 [isEdit]="getIfEditable(index,'grade')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		<smd-datatable-column title="Shade" field="shade" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('shade')">{{model.shade}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('shade')">
					<tnz-input [path]="_shared.getLayerDetailsPath(index,'shade')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
					 [isEdit]="getIfEditable(index,'shade')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		<smd-datatable-column title="Shrinkage" field="shrinkage" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('shrinkage')">{{model.shrinkage}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('shrinkage')">
					<tnz-input [path]="_shared.getLayerDetailsPath(index,'shrinkage')" [primaryKey]="_shared.layerDetailsPrimaryKey" [sharedData]="_shared.formData"
					 [isEdit]="getIfEditable(index,'shrinkage')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		<smd-datatable-column title="Rcpt Date" field="rcptDate" sortable="true" [filterable]="true">
			<ng-template let-model="data" let-index="index">
				<span *ngIf="!_shared.getLayerDetailsEditable('rcptDate')">{{model.rcptDate}}</span>
				<div *ngIf="_shared.getLayerDetailsEditable('rcptDate')">
					<tnz-input type="date" [path]="_shared.getLayerDetailsPath(index,'rcptDate')" [primaryKey]="_shared.layerDetailsPrimaryKey"
					 [sharedData]="_shared.formData" [isEdit]="getIfEditable(index,'rcptDate')" [loading]="_shared.layerDetailsLoading || _shared.loading">
					</tnz-input>
				</div>
			</ng-template>
		</smd-datatable-column>
		
	</smd-datatable-column>
	<smd-datatable-column title="Sticker Color" field="attributeId" sortable="true" [filterable]="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('attributeId')">{{model.attributeId}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('attributeId')">
				<tnz-input [path]="_shared.getLayerDetailsPath(index,'attributeId')" [primaryKey]="_shared.layerDetailsPrimaryKey"
				 (valueChanged)="valueChanged($event,index)" [sharedData]="_shared.formData" validators=""
				 [isEdit]="getIfEditable(index,'attributeId')" [loading]="_shared.layerDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Ply Qty" field="layerCount" sortable="true" [filterable]="true" numeric="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('layerCount')">{{model.layerCount}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('layerCount')">
				<tnz-input type="number" [path]="_shared.getLayerDetailsPath(index,'layerCount')" [primaryKey]="_shared.layerDetailsPrimaryKey"
				 [sharedData]="_shared.formData" validators="required,min:1" [isEdit]="getIfEditable(index,'layerCount')" [loading]="_shared.layerDetailsLoading || _shared.loading"
				 (valueChangedFromUI)="valueChangedFromUI($event,index)">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<smd-datatable-column title="Lay Yardage" field="layYardage" sortable="true" [filterable]="true" numeric="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('layYardage')">{{model.layYardage}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('layYardage')">
				<tnz-input type="number" [path]="_shared.getLayerDetailsPath(index,'layYardage')" [primaryKey]="_shared.layerDetailsPrimaryKey"
				 [sharedData]="_shared.formData" [isEdit]="getIfEditable(index,'layYardage')" [loading]="_shared.layerDetailsLoading || _shared.loading"
				 (valueChangedFromUI)="valueChangedFromUI($event,index)">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>
	<!-- <smd-datatable-column title="Style" field="style" sortable="true" [filterable]="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('style')">{{model.style}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('style')">
				<tnz-input [path]="_shared.getLayerDetailsPath(index,'style')" [primaryKey]="_shared.layerDetailsPrimaryKey" (valueChanged)="valueChanged($event,index)"
				 [sharedData]="_shared.formData" validators="" [isEdit]="false" [loading]="_shared.layerDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column> -->
	<smd-datatable-column title="Style Color" field="colorName" sortable="true" [filterable]="true">
		<ng-template let-model="data" let-index="index">
			<span *ngIf="!_shared.getLayerDetailsEditable('colorName')">{{model.colorName}}</span>
			<div *ngIf="_shared.getLayerDetailsEditable('colorName')">
				<tnz-input type="lov" [path]="_shared.getLayerDetailsPath(index,'color')" [primaryKey]="_shared.layerDetailsPrimaryKey" [lovConfig]="styleColorLovConfig"
				 (valueChanged)="valueChanged($event,index)" [sharedData]="_shared.formData" validators="" [isEdit]="getIfEditable(index,'color')"
				 [loading]="_shared.layerDetailsLoading || _shared.loading">
				</tnz-input>
			</div>
		</ng-template>
	</smd-datatable-column>

</smd-datatable>